<a href="https://www.kaggle.com/code/dirgham/36-dataframe-pandas-3?scriptVersionId=183981600" target="_blank"><img align="left" alt="Kaggle" title="Open in Kaggle" src="https://kaggle.com/static/images/open-in-kaggle.svg"></a>

In [1]:
import pandas as pd

In [2]:
a = pd.read_csv('/kaggle/input/data-science-jobs-in-india/naukri_data_science_jobs_india.csv')
a.head()

,Job_Role,Company,Location,Job Experience,Skills/Description
0,Senior Data Scientist,UPL,"Bangalore/Bengaluru, Mumbai (All Areas)",3-6,"python, MLT, statistical modeling, machine lea..."
1,Senior Data Scientist,Walmart,Bangalore/Bengaluru,5-9,"Data Science, Machine learning, Python, Azure,..."
2,Applied Data Scientist / ML Senior Engineer (P...,SAP India Pvt.Ltd,Bangalore/Bengaluru,5-10,"Python, IT Skills, Testing, Cloud, Product Man..."
3,Data Scientist,UPL,"Bangalore/Bengaluru, Mumbai (All Areas)",1-4,"python, machine learning, Data Science, data a..."
4,Data Scientist,Walmart,Bangalore/Bengaluru,4-8,"IT Skills, Python, Data Science, Machine Learn..."

# Customize index

In [4]:
a = pd.read_csv('/kaggle/input/data-science-jobs-in-india/naukri_data_science_jobs_india.csv', index_col = ['Job_Role'])
a.head()

,Company,Location,Job Experience,Skills/Description
Job_Role,,,,
Senior Data Scientist,UPL,"Bangalore/Bengaluru, Mumbai (All Areas)",3-6,"python, MLT, statistical modeling, machine lea..."
Senior Data Scientist,Walmart,Bangalore/Bengaluru,5-9,"Data Science, Machine learning, Python, Azure,..."
Applied Data Scientist / ML Senior Engineer (Python / SQL),SAP India Pvt.Ltd,Bangalore/Bengaluru,5-10,"Python, IT Skills, Testing, Cloud, Product Man..."
Data Scientist,UPL,"Bangalore/Bengaluru, Mumbai (All Areas)",1-4,"python, machine learning, Data Science, data a..."
Data Scientist,Walmart,Bangalore/Bengaluru,4-8,"IT Skills, Python, Data Science, Machine Learn..."

In [5]:
a = pd.read_csv('/kaggle/input/data-science-jobs-in-india/naukri_data_science_jobs_india.csv', index_col = ['Company'])
a.head()

,Job_Role,Location,Job Experience,Skills/Description
Company,,,,
UPL,Senior Data Scientist,"Bangalore/Bengaluru, Mumbai (All Areas)",3-6,"python, MLT, statistical modeling, machine lea..."
Walmart,Senior Data Scientist,Bangalore/Bengaluru,5-9,"Data Science, Machine learning, Python, Azure,..."
SAP India Pvt.Ltd,Applied Data Scientist / ML Senior Engineer (P...,Bangalore/Bengaluru,5-10,"Python, IT Skills, Testing, Cloud, Product Man..."
UPL,Data Scientist,"Bangalore/Bengaluru, Mumbai (All Areas)",1-4,"python, machine learning, Data Science, data a..."
Walmart,Data Scientist,Bangalore/Bengaluru,4-8,"IT Skills, Python, Data Science, Machine Learn..."

**reset_index()**

In [6]:
a.reset_index()

,Company,Job_Role,Location,Job Experience,Skills/Description
0,UPL,Senior Data Scientist,"Bangalore/Bengaluru, Mumbai (All Areas)",3-6,"python, MLT, statistical modeling, machine lea..."
1,Walmart,Senior Data Scientist,Bangalore/Bengaluru,5-9,"Data Science, Machine learning, Python, Azure,..."
2,SAP India Pvt.Ltd,Applied Data Scientist / ML Senior Engineer (P...,Bangalore/Bengaluru,5-10,"Python, IT Skills, Testing, Cloud, Product Man..."
3,UPL,Data Scientist,"Bangalore/Bengaluru, Mumbai (All Areas)",1-4,"python, machine learning, Data Science, data a..."
4,Walmart,Data Scientist,Bangalore/Bengaluru,4-8,"IT Skills, Python, Data Science, Machine Learn..."
...,...,...,...,...,...
11995,Krazy Mantra HR Solutions Pvt. Ltd,Tech Lead/Architect ( Contractual ),"Kolkata, Chennai, Bangalore/Bengaluru",8-13,"Spark, Python, S3, lambda, Athena, AWS, IT Ski..."
11996,cliqhr.com,Tech Lead / POD Lead,"Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru",10-12,"AirFlow, BigQuery, GCS, Kafka, Java, Shell scr..."
11997,Serving Skill,Java Full Stack Developer - Hibernate / Spring,"Hyderabad/Secunderabad, Bangalore/Bengaluru",2-5,"IT Skills, Java, Software Development, Testing..."
11998,cliqhr.com,Tech Lead - Azure,"Kochi/Cochin, Mumbai, Hyderabad/Secunderabad, ...",8-10,"PowerShell, Azure Data Factory, Azure, PaaS, M..."
11999,Huquo Consulting Pvt. Ltd,Full Stack Developer - Machine Learning,Bangalore/Bengaluru,5-10,"Java, JavaScript, Machine Learning, NoSQL, Clo..."

In [7]:
a

,Job_Role,Location,Job Experience,Skills/Description
Company,,,,
UPL,Senior Data Scientist,"Bangalore/Bengaluru, Mumbai (All Areas)",3-6,"python, MLT, statistical modeling, machine lea..."
Walmart,Senior Data Scientist,Bangalore/Bengaluru,5-9,"Data Science, Machine learning, Python, Azure,..."
SAP India Pvt.Ltd,Applied Data Scientist / ML Senior Engineer (P...,Bangalore/Bengaluru,5-10,"Python, IT Skills, Testing, Cloud, Product Man..."
UPL,Data Scientist,"Bangalore/Bengaluru, Mumbai (All Areas)",1-4,"python, machine learning, Data Science, data a..."
Walmart,Data Scientist,Bangalore/Bengaluru,4-8,"IT Skills, Python, Data Science, Machine Learn..."
...,...,...,...,...
Krazy Mantra HR Solutions Pvt. Ltd,Tech Lead/Architect ( Contractual ),"Kolkata, Chennai, Bangalore/Bengaluru",8-13,"Spark, Python, S3, lambda, Athena, AWS, IT Ski..."
cliqhr.com,Tech Lead / POD Lead,"Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru",10-12,"AirFlow, BigQuery, GCS, Kafka, Java, Shell scr..."
Serving Skill,Java Full Stack Developer - Hibernate / Spring,"Hyderabad/Secunderabad, Bangalore/Bengaluru",2-5,"IT Skills, Java, Software Development, Testing..."
cliqhr.com,Tech Lead - Azure,"Kochi/Cochin, Mumbai, Hyderabad/Secunderabad, ...",8-10,"PowerShell, Azure Data Factory, Azure, PaaS, M..."
Huquo Consulting Pvt. Ltd,Full Stack Developer - Machine Learning,Bangalore/Bengaluru,5-10,"Java, JavaScript, Machine Learning, NoSQL, Clo..."

In [8]:
a.reset_index(inplace = True)

In [9]:
a.head()

,Company,Job_Role,Location,Job Experience,Skills/Description
0,UPL,Senior Data Scientist,"Bangalore/Bengaluru, Mumbai (All Areas)",3-6,"python, MLT, statistical modeling, machine lea..."
1,Walmart,Senior Data Scientist,Bangalore/Bengaluru,5-9,"Data Science, Machine learning, Python, Azure,..."
2,SAP India Pvt.Ltd,Applied Data Scientist / ML Senior Engineer (P...,Bangalore/Bengaluru,5-10,"Python, IT Skills, Testing, Cloud, Product Man..."
3,UPL,Data Scientist,"Bangalore/Bengaluru, Mumbai (All Areas)",1-4,"python, machine learning, Data Science, data a..."
4,Walmart,Data Scientist,Bangalore/Bengaluru,4-8,"IT Skills, Python, Data Science, Machine Learn..."

In [10]:
a.reset_index(drop = True)

,Company,Job_Role,Location,Job Experience,Skills/Description
0,UPL,Senior Data Scientist,"Bangalore/Bengaluru, Mumbai (All Areas)",3-6,"python, MLT, statistical modeling, machine lea..."
1,Walmart,Senior Data Scientist,Bangalore/Bengaluru,5-9,"Data Science, Machine learning, Python, Azure,..."
2,SAP India Pvt.Ltd,Applied Data Scientist / ML Senior Engineer (P...,Bangalore/Bengaluru,5-10,"Python, IT Skills, Testing, Cloud, Product Man..."
3,UPL,Data Scientist,"Bangalore/Bengaluru, Mumbai (All Areas)",1-4,"python, machine learning, Data Science, data a..."
4,Walmart,Data Scientist,Bangalore/Bengaluru,4-8,"IT Skills, Python, Data Science, Machine Learn..."
...,...,...,...,...,...
11995,Krazy Mantra HR Solutions Pvt. Ltd,Tech Lead/Architect ( Contractual ),"Kolkata, Chennai, Bangalore/Bengaluru",8-13,"Spark, Python, S3, lambda, Athena, AWS, IT Ski..."
11996,cliqhr.com,Tech Lead / POD Lead,"Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru",10-12,"AirFlow, BigQuery, GCS, Kafka, Java, Shell scr..."
11997,Serving Skill,Java Full Stack Developer - Hibernate / Spring,"Hyderabad/Secunderabad, Bangalore/Bengaluru",2-5,"IT Skills, Java, Software Development, Testing..."
11998,cliqhr.com,Tech Lead - Azure,"Kochi/Cochin, Mumbai, Hyderabad/Secunderabad, ...",8-10,"PowerShell, Azure Data Factory, Azure, PaaS, M..."
11999,Huquo Consulting Pvt. Ltd,Full Stack Developer - Machine Learning,Bangalore/Bengaluru,5-10,"Java, JavaScript, Machine Learning, NoSQL, Clo..."

In [12]:
a.set_index('Company',inplace = True)
a

,Job_Role,Location,Job Experience,Skills/Description
Company,,,,
UPL,Senior Data Scientist,"Bangalore/Bengaluru, Mumbai (All Areas)",3-6,"python, MLT, statistical modeling, machine lea..."
Walmart,Senior Data Scientist,Bangalore/Bengaluru,5-9,"Data Science, Machine learning, Python, Azure,..."
SAP India Pvt.Ltd,Applied Data Scientist / ML Senior Engineer (P...,Bangalore/Bengaluru,5-10,"Python, IT Skills, Testing, Cloud, Product Man..."
UPL,Data Scientist,"Bangalore/Bengaluru, Mumbai (All Areas)",1-4,"python, machine learning, Data Science, data a..."
Walmart,Data Scientist,Bangalore/Bengaluru,4-8,"IT Skills, Python, Data Science, Machine Learn..."
...,...,...,...,...
Krazy Mantra HR Solutions Pvt. Ltd,Tech Lead/Architect ( Contractual ),"Kolkata, Chennai, Bangalore/Bengaluru",8-13,"Spark, Python, S3, lambda, Athena, AWS, IT Ski..."
cliqhr.com,Tech Lead / POD Lead,"Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru",10-12,"AirFlow, BigQuery, GCS, Kafka, Java, Shell scr..."
Serving Skill,Java Full Stack Developer - Hibernate / Spring,"Hyderabad/Secunderabad, Bangalore/Bengaluru",2-5,"IT Skills, Java, Software Development, Testing..."
cliqhr.com,Tech Lead - Azure,"Kochi/Cochin, Mumbai, Hyderabad/Secunderabad, ...",8-10,"PowerShell, Azure Data Factory, Azure, PaaS, M..."
Huquo Consulting Pvt. Ltd,Full Stack Developer - Machine Learning,Bangalore/Bengaluru,5-10,"Java, JavaScript, Machine Learning, NoSQL, Clo..."

In [13]:
a.set_index('Job_Role')

,Location,Job Experience,Skills/Description
Job_Role,,,
Senior Data Scientist,"Bangalore/Bengaluru, Mumbai (All Areas)",3-6,"python, MLT, statistical modeling, machine lea..."
Senior Data Scientist,Bangalore/Bengaluru,5-9,"Data Science, Machine learning, Python, Azure,..."
Applied Data Scientist / ML Senior Engineer (Python / SQL),Bangalore/Bengaluru,5-10,"Python, IT Skills, Testing, Cloud, Product Man..."
Data Scientist,"Bangalore/Bengaluru, Mumbai (All Areas)",1-4,"python, machine learning, Data Science, data a..."
Data Scientist,Bangalore/Bengaluru,4-8,"IT Skills, Python, Data Science, Machine Learn..."
...,...,...,...
Tech Lead/Architect ( Contractual ),"Kolkata, Chennai, Bangalore/Bengaluru",8-13,"Spark, Python, S3, lambda, Athena, AWS, IT Ski..."
Tech Lead / POD Lead,"Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru",10-12,"AirFlow, BigQuery, GCS, Kafka, Java, Shell scr..."
Java Full Stack Developer - Hibernate / Spring,"Hyderabad/Secunderabad, Bangalore/Bengaluru",2-5,"IT Skills, Java, Software Development, Testing..."
Tech Lead - Azure,"Kochi/Cochin, Mumbai, Hyderabad/Secunderabad, ...",8-10,"PowerShell, Azure Data Factory, Azure, PaaS, M..."
Full Stack Developer - Machine Learning,Bangalore/Bengaluru,5-10,"Java, JavaScript, Machine Learning, NoSQL, Clo..."

In [16]:
a.reset_index(inplace = True)
a

,level_0,index,Company,Job_Role,Location,Job Experience,Skills/Description
0,0,0,UPL,Senior Data Scientist,"Bangalore/Bengaluru, Mumbai (All Areas)",3-6,"python, MLT, statistical modeling, machine lea..."
1,1,1,Walmart,Senior Data Scientist,Bangalore/Bengaluru,5-9,"Data Science, Machine learning, Python, Azure,..."
2,2,2,SAP India Pvt.Ltd,Applied Data Scientist / ML Senior Engineer (P...,Bangalore/Bengaluru,5-10,"Python, IT Skills, Testing, Cloud, Product Man..."
3,3,3,UPL,Data Scientist,"Bangalore/Bengaluru, Mumbai (All Areas)",1-4,"python, machine learning, Data Science, data a..."
4,4,4,Walmart,Data Scientist,Bangalore/Bengaluru,4-8,"IT Skills, Python, Data Science, Machine Learn..."
...,...,...,...,...,...,...,...
11995,11995,11995,Krazy Mantra HR Solutions Pvt. Ltd,Tech Lead/Architect ( Contractual ),"Kolkata, Chennai, Bangalore/Bengaluru",8-13,"Spark, Python, S3, lambda, Athena, AWS, IT Ski..."
11996,11996,11996,cliqhr.com,Tech Lead / POD Lead,"Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru",10-12,"AirFlow, BigQuery, GCS, Kafka, Java, Shell scr..."
11997,11997,11997,Serving Skill,Java Full Stack Developer - Hibernate / Spring,"Hyderabad/Secunderabad, Bangalore/Bengaluru",2-5,"IT Skills, Java, Software Development, Testing..."
11998,11998,11998,cliqhr.com,Tech Lead - Azure,"Kochi/Cochin, Mumbai, Hyderabad/Secunderabad, ...",8-10,"PowerShell, Azure Data Factory, Azure, PaaS, M..."
11999,11999,11999,Huquo Consulting Pvt. Ltd,Full Stack Developer - Machine Learning,Bangalore/Bengaluru,5-10,"Java, JavaScript, Machine Learning, NoSQL, Clo..."

**Drop argument**

In [17]:
a.head(3)

,level_0,index,Company,Job_Role,Location,Job Experience,Skills/Description
0,0,0,UPL,Senior Data Scientist,"Bangalore/Bengaluru, Mumbai (All Areas)",3-6,"python, MLT, statistical modeling, machine lea..."
1,1,1,Walmart,Senior Data Scientist,Bangalore/Bengaluru,5-9,"Data Science, Machine learning, Python, Azure,..."
2,2,2,SAP India Pvt.Ltd,Applied Data Scientist / ML Senior Engineer (P...,Bangalore/Bengaluru,5-10,"Python, IT Skills, Testing, Cloud, Product Man..."

In [20]:
a.set_index('Job_Role',drop = False, inplace = True)

In [21]:
a.head()

,level_0,index,Company,Job_Role,Location,Job Experience,Skills/Description
Job_Role,,,,,,,
Senior Data Scientist,0,0,UPL,Senior Data Scientist,"Bangalore/Bengaluru, Mumbai (All Areas)",3-6,"python, MLT, statistical modeling, machine lea..."
Senior Data Scientist,1,1,Walmart,Senior Data Scientist,Bangalore/Bengaluru,5-9,"Data Science, Machine learning, Python, Azure,..."
Applied Data Scientist / ML Senior Engineer (Python / SQL),2,2,SAP India Pvt.Ltd,Applied Data Scientist / ML Senior Engineer (P...,Bangalore/Bengaluru,5-10,"Python, IT Skills, Testing, Cloud, Product Man..."
Data Scientist,3,3,UPL,Data Scientist,"Bangalore/Bengaluru, Mumbai (All Areas)",1-4,"python, machine learning, Data Science, data a..."
Data Scientist,4,4,Walmart,Data Scientist,Bangalore/Bengaluru,4-8,"IT Skills, Python, Data Science, Machine Learn..."

In [22]:
a.set_index('Company', append = True)

                                                                                       level_0  \
Job_Role                                           Company
Senior Data Scientist                              UPL                                       0
                                                   Walmart                                   1
Applied Data Scientist / ML Senior Engineer (Py... SAP India Pvt.Ltd                         2
Data Scientist                                     UPL                                       3
                                                   Walmart                                   4
...                                                                                        ...
Tech Lead/Architect ( Contractual )                Krazy Mantra HR Solutions Pvt. Ltd    11995
Tech Lead / POD Lead                               cliqhr.com                            11996
Java Full Stack Developer - Hibernate / Spring     Serving Skill                         11997
Tech Lead - Azure                                  cliqhr.com                            11998
Full Stack Developer - Machine Learning            Huquo Consulting Pvt. Ltd             11999

                                                                                       index  \
Job_Role                                           Company
Senior Data Scientist                              UPL                                     0
                                                   Walmart                                 1
Applied Data Scientist / ML Senior Engineer (Py... SAP India Pvt.Ltd                       2
Data Scientist                                     UPL                                     3
                                                   Walmart                                 4
...                                                                                      ...
Tech Lead/Architect ( Contractual )                Krazy Mantra HR Solutions Pvt. Ltd  11995
Tech Lead / POD Lead                               cliqhr.com                          11996
Java Full Stack Developer - Hibernate / Spring     Serving Skill                       11997
Tech Lead - Azure                                  cliqhr.com                          11998
Full Stack Developer - Machine Learning            Huquo Consulting Pvt. Ltd           11999

                                                                                                                                Job_Role  \
Job_Role                                           Company
Senior Data Scientist                              UPL                                                             Senior Data Scientist
                                                   Walmart                                                         Senior Data Scientist
Applied Data Scientist / ML Senior Engineer (Py... SAP India Pvt.Ltd                   Applied Data Scientist / ML Senior Engineer (P...
Data Scientist                                     UPL                                                                    Data Scientist
                                                   Walmart                                                                Data Scientist
...                                                                                                                                  ...
Tech Lead/Architect ( Contractual )                Krazy Mantra HR Solutions Pvt. Ltd                Tech Lead/Architect ( Contractual )
Tech Lead / POD Lead                               cliqhr.com                                                       Tech Lead / POD Lead
Java Full Stack Developer - Hibernate / Spring     Serving Skill                          Java Full Stack Developer - Hibernate / Spring
Tech Lead - Azure                                  cliqhr.com                                                          Tech Lead - Azure
Full Stack Developer - Machine Learning            Huquo Consulting Pvt. Ltd                     Full Stack Developer - Machine Learning

                                                                                                                                Location  \
Job_Role                                           Company
Senior Data Scientist                              UPL                                           Bangalore/Bengaluru, Mumbai (All Areas)
                                                   Walmart                                                           Bangalore/Bengaluru
Applied Data Scientist / ML Senior Engineer (Py... SAP India Pvt.Ltd                                                 Bangalore/Bengaluru
Data Scientist                                     UPL                                           Bangalore/Bengaluru, Mumbai (All Areas)
                                                   Walmart                                                           Bangalore/Bengaluru
...                                                                                                                                  ...
Tech Lead/Architect ( Contractual )                Krazy Mantra HR Solutions Pvt. Ltd              Kolkata, Chennai, Bangalore/Bengaluru
Tech Lead / POD Lead                               cliqhr.com                          Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru
Java Full Stack Developer - Hibernate / Spring     Serving Skill                             Hyderabad/Secunderabad, Bangalore/Bengaluru
Tech Lead - Azure                                  cliqhr.com                          Kochi/Cochin, Mumbai, Hyderabad/Secunderabad, ...
Full Stack Developer - Machine Learning            Huquo Consulting Pvt. Ltd                                         Bangalore/Bengaluru

                                                                                      Job Experience  \
Job_Role                                           Company
Senior Data Scientist                              UPL                                           3-6
                                                   Walmart                                       5-9
Applied Data Scientist / ML Senior Engineer (Py... SAP India Pvt.Ltd                            5-10
Data Scientist                                     UPL                                           1-4
                                                   Walmart                                       4-8
...                                                                                              ...
Tech Lead/Architect ( Contractual )                Krazy Mantra HR Solutions Pvt. Ltd           8-13
Tech Lead / POD Lead                               cliqhr.com                                  10-12
Java Full Stack Developer - Hibernate / Spring     Serving Skill                                 2-5
Tech Lead - Azure                                  cliqhr.com                                   8-10
Full Stack Developer - Machine Learning            Huquo Consulting Pvt. Ltd                    5-10

                                                                                                                      Skills/Description
Job_Role                                           Company
Senior Data Scientist                              UPL                                 python, MLT, statistical modeling, machine lea...
                                                   Walmart                             Data Science, Machine learning, Python, Azure,...
Applied Data Scientist / ML Senior Engineer (Py... SAP India Pvt.Ltd                   Python, IT Skills, Testing, Cloud, Product Man...
Data Scientist                                     UPL                                 python, machine learning, Data Science, data a...
                                                   Walmart                             IT Skills, Python, Data Science, Machine Learn...
...                                                                                                                                  ...
Tech Lead/Architect ( Contractual )                Krazy Mantra HR Solutions Pvt. Ltd  Spark, Python, S3, lambda, Athena, AWS, IT Ski...
Tech Lead / POD Lead                               cliqhr.com                          AirFlow, BigQuery, GCS, Kafka, Java, Shell scr...
Java Full Stack Developer - Hibernate / Spring     Serving Skill                       IT Skills, Java, Software Development, Testing...
Tech Lead - Azure                                  cliqhr.com                          PowerShell, Azure Data Factory, Azure, PaaS, M...
Full Stack Developer - Machine Learning            Huquo Consulting Pvt. Ltd           Java, JavaScript, Machine Learning, NoSQL, Clo...

[12000 rows x 6 columns]

**Important to use reset_index before use set_index consecutively**

In [23]:
a.head()

,level_0,index,Company,Job_Role,Location,Job Experience,Skills/Description
Job_Role,,,,,,,
Senior Data Scientist,0,0,UPL,Senior Data Scientist,"Bangalore/Bengaluru, Mumbai (All Areas)",3-6,"python, MLT, statistical modeling, machine lea..."
Senior Data Scientist,1,1,Walmart,Senior Data Scientist,Bangalore/Bengaluru,5-9,"Data Science, Machine learning, Python, Azure,..."
Applied Data Scientist / ML Senior Engineer (Python / SQL),2,2,SAP India Pvt.Ltd,Applied Data Scientist / ML Senior Engineer (P...,Bangalore/Bengaluru,5-10,"Python, IT Skills, Testing, Cloud, Product Man..."
Data Scientist,3,3,UPL,Data Scientist,"Bangalore/Bengaluru, Mumbai (All Areas)",1-4,"python, machine learning, Data Science, data a..."
Data Scientist,4,4,Walmart,Data Scientist,Bangalore/Bengaluru,4-8,"IT Skills, Python, Data Science, Machine Learn..."

In [25]:
a.reset_index(inplace = True)

ValueError: cannot insert Job_Role, already exists

# Accessing Dataframe

In [1]:
import pandas as pd

In [3]:
a = pd.read_csv('/kaggle/input/data-science-jobs-in-india/naukri_data_science_jobs_india.csv', index_col = ['Job_Role'])
a.head()
a.sort_index(inplace = True, ascending = False)

**loc accesor** - used to access rows or group  of rows/columns in a dataframe

In [4]:
a.loc['.NET Developer']

Company                                                        Snaphunt
Location                                                          Surat
Job Experience                                                      0-5
Skills/Description    .Net, Javascript, C#, HTML, ASP Net, SQL, anal...
Name: .NET Developer, dtype: object

In [5]:
a.loc['Data Analyst']

,Company,Location,Job Experience,Skills/Description
Job_Role,,,,
Data Analyst,Klub,Bangalore/Bengaluru,1-4,"Data Science, Sas, Database Design Development..."
Data Analyst,CoStrategix Technologies Pvt. Ltd.,Bengaluru,5-10,"BPO, data analysis, Data validation, Agile, bu..."
Data Analyst,AGRIM,Gurgaon/Gurugram,1-3,"SAN, PDF, SOC, Analytical, SMS, Data Analyst, ..."
Data Analyst,"Glassbeam, Inc",Bengaluru,1-3,"Data Analysis, Data Analyst"
Data Analyst,Samyak Infotech Pvt. Ltd,Ahmedabad,3-5,"IT Skills, Machine Learning, Cloud, Tableau, C..."
...,...,...,...,...
Data Analyst,Bayer India,"Mangaluru/Mangalore, Mangalore",2-2,"Spotfire, Biostatistics, Azure, Power BI, Data..."
Data Analyst,fundinfo AG,Chennai,1-2,"Financial sector, Mutual funds, Analytical, MS..."
Data Analyst,St. John’s Research Institute,Bengaluru,0-4,"Nutrition, Coding, CRC, Data Analyst, Research..."
Data Analyst,Malbro appliances Pvt. ltd,New Delhi(Udyog Nagar),2-7,"Excel, Accounting, Data Analysis, data audit, CRM"
Data Analyst,POST A RESUME HR Consultancy,Ahmedabad,0-4,"Excel, MIS, Analytical, Retail analysis, Data ..."

**Accessing multiple rows**

In [7]:
a.loc[['.NET Developer','Senior Data Scientist']]

,Company,Location,Job Experience,Skills/Description
Job_Role,,,,
.NET Developer,Snaphunt,Surat,0-5,".Net, Javascript, C#, HTML, ASP Net, SQL, anal..."
Senior Data Scientist,Pitney Bowes India Pvt Ltd,Noida,6-10,Quest
Senior Data Scientist,Data Axle,Pune,5-9,"IT Skills, Python, Testing, Data Science, Mach..."
Senior Data Scientist,ADF Data Science Private Limited,Remote,2-4,"python, sql, Predictive Modeling, neural netwo..."
Senior Data Scientist,Wolters Kluwer,"Mumbai, Pune",5-9,"Computer science, Text mining, Mining, Operati..."
...,...,...,...,...
Senior Data Scientist,Northface Consultancy Services Private Limited,Bangalore/Bengaluru(Whitefield),3-6,"database knowledge, R, Statistical Programming..."
Senior Data Scientist,Boston Consulting Group,"Mumbai, Delhi, Chennai",1-2,"Computer science, Analytical skills, advanced ..."
Senior Data Scientist,TrueView HR Consulting Pvt. Ltd,"Pune, Bangalore/Bengaluru",6-8,"Data Science, IT Skills, Python, Testing, Mach..."
Senior Data Scientist,ICERTIS Solutions,Pune,10-12,"IT Skills, Python, Data Science, Machine Learn..."
Senior Data Scientist,Gojek,Bangalore/Bengaluru,5-10,"Mining, Version control, GIT, data science, An..."

**Slicing is alsopossible**

In [8]:
a

,Company,Location,Job Experience,Skills/Description
Job_Role,,,,
urgent requirement For data scientist,Orcapod Consulting Services Private Limited,Hyderabad/Secunderabad,4-6,"git, written communication, unit testing, obje..."
urgent hiring For data engineers - bang / any,Experis IT Private Limited,"Bangalore/Bengaluru, any",3-5,"hive, cloudera, python, NoSQL, spark, Cassadra..."
senior python developer,Talent Zone Consultant,Bangalore/Bengaluru,8-10,"Performance tuning, Automation, Backend, HP da..."
senior bigdata engineer or data architect,Rectras Business Solutions Pvt Ltd.,"Pune, Chennai, Bengaluru",4-9,"Automation, Data analysis, Prototype, Applicat..."
senior Data Analyst,Spectral Consultants,Pune,2-5,"Logistic regression, Data analysis, Factor ana..."
...,...,...,...,...
A fabulous opportunity For AWS Data Engineer(L3)in a 22 years old MNC,Wissen Infotech,"Hyderabad/Secunderabad, Bangalore/Bengaluru",3-8,"Data Engineering, Spark, AWS, Lambda, S3, AWS ..."
A Data Scientists,CareerXperts Consulting,Pune,2-5,"Computer science, Data analysis, Operations re..."
15-20 days notice only | Senior Data Engineer | Python/SQL/AWS/Linux,Cians Analytics Pvt. Ltd.,Gurgaon/Gurugram,2-7,"SQL, Linux, Python, S3, Airflow, Pyspark, Bash..."
.NET Developer,Snaphunt,Surat,0-5,".Net, Javascript, C#, HTML, ASP Net, SQL, anal..."
.1787_Data Scientist _Bangalore,Sigma Allied Services private Limited,Bangalore/Bengaluru,2-5,"Data Science, Predictive Modeling, R, Neural N..."

In [10]:
a.loc['urgent requirement For data scientist':'senior Data Analyst':2]

,Company,Location,Job Experience,Skills/Description
Job_Role,,,,
urgent requirement For data scientist,Orcapod Consulting Services Private Limited,Hyderabad/Secunderabad,4-6,"git, written communication, unit testing, obje..."
senior python developer,Talent Zone Consultant,Bangalore/Bengaluru,8-10,"Performance tuning, Automation, Backend, HP da..."
senior Data Analyst,Spectral Consultants,Pune,2-5,"Logistic regression, Data analysis, Factor ana..."

**iloc accessor - used to access value using numeric index**

In [11]:
import pandas as pd

In [15]:
a = pd.read_csv('/kaggle/input/data-science-jobs-in-india/naukri_data_science_jobs_india.csv',index_col = ['Job_Role'])
a.sort_index(inplace = True, ascending = False)
a.head()

,Company,Location,Job Experience,Skills/Description
Job_Role,,,,
urgent requirement For data scientist,Orcapod Consulting Services Private Limited,Hyderabad/Secunderabad,4-6,"git, written communication, unit testing, obje..."
urgent hiring For data engineers - bang / any,Experis IT Private Limited,"Bangalore/Bengaluru, any",3-5,"hive, cloudera, python, NoSQL, spark, Cassadra..."
senior python developer,Talent Zone Consultant,Bangalore/Bengaluru,8-10,"Performance tuning, Automation, Backend, HP da..."
senior bigdata engineer or data architect,Rectras Business Solutions Pvt Ltd.,"Pune, Chennai, Bengaluru",4-9,"Automation, Data analysis, Prototype, Applicat..."
senior Data Analyst,Spectral Consultants,Pune,2-5,"Logistic regression, Data analysis, Factor ana..."

In [16]:
a.head()

,Company,Location,Job Experience,Skills/Description
Job_Role,,,,
urgent requirement For data scientist,Orcapod Consulting Services Private Limited,Hyderabad/Secunderabad,4-6,"git, written communication, unit testing, obje..."
urgent hiring For data engineers - bang / any,Experis IT Private Limited,"Bangalore/Bengaluru, any",3-5,"hive, cloudera, python, NoSQL, spark, Cassadra..."
senior python developer,Talent Zone Consultant,Bangalore/Bengaluru,8-10,"Performance tuning, Automation, Backend, HP da..."
senior bigdata engineer or data architect,Rectras Business Solutions Pvt Ltd.,"Pune, Chennai, Bengaluru",4-9,"Automation, Data analysis, Prototype, Applicat..."
senior Data Analyst,Spectral Consultants,Pune,2-5,"Logistic regression, Data analysis, Factor ana..."

In [17]:
a.iloc[0]

Company                     Orcapod Consulting Services Private Limited
Location                                         Hyderabad/Secunderabad
Job Experience                                                      4-6
Skills/Description    git, written communication, unit testing, obje...
Name: urgent requirement For data scientist, dtype: object

In [18]:
a.iloc[[0,100,1000]]

,Company,Location,Job Experience,Skills/Description
Job_Role,,,,
urgent requirement For data scientist,Orcapod Consulting Services Private Limited,Hyderabad/Secunderabad,4-6,"git, written communication, unit testing, obje..."
Value Optimization Analyst,Corning Technologies,Gurgaon/Gurugram,3-5,"Supply chain, Qualitative research, GSM, Data ..."
Sr . Product Designer,jupiter,Bangalore/Bengaluru,3-7,"Product Strategy, Front End, Product Manager, ..."

In [20]:
a.iloc[0:100:10] #100 is exclusive

,Company,Location,Job Experience,Skills/Description
Job_Role,,,,
urgent requirement For data scientist,Orcapod Consulting Services Private Limited,Hyderabad/Secunderabad,4-6,"git, written communication, unit testing, obje..."
lead software engineer,Smart4talent,"Hyderabad, Gurgaon",7-9,"Product management, GIT, NoSQL, Functional tes..."
data engineer,Saffron Careers Private Limited,Chennai,5-8,"Computer science, orchestration, Agile scrum, ..."
Yardi Technical Analyst,Assetsoft,Pune,4-5,"Business process, Data conversion, Project man..."
Workday Analyst HR,"Epiq Systems, Inc.",Hyderabad/Secunderabad,3-8,"Data analysis, Production support, Data manage..."
Web Research Analyst,Atkku Services LLC,Coimbatore,1-4,"Quantitative research, Hoovers, Internet resea..."
Web / Data Analyst,Darshan Soft-Tech Pvt. Ltd,Vadodara,1-4,"Career development, PPC, digital analytics, Go..."
WFM Sr Analyst-5,GBT India Private Limited,Gurgaon/Gurugram,4-8,"Service level, Visual Basic, Staffing, Strateg..."
Visualization Analyst - KPO,Huquo Consulting Pvt. Ltd,"Gurgaon/Gurugram, Delhi / NCR",3-8,"Business Intelligence, Data Visualization, Dat..."
Virtue Analytics - Business Analyst,Virtue Analytics,Lucknow,3-8,"R, data analytics, Predictive Modeling, Data M..."

In [22]:
a.head()

,Company,Location,Job Experience,Skills/Description
Job_Role,,,,
urgent requirement For data scientist,Orcapod Consulting Services Private Limited,Hyderabad/Secunderabad,4-6,"git, written communication, unit testing, obje..."
urgent hiring For data engineers - bang / any,Experis IT Private Limited,"Bangalore/Bengaluru, any",3-5,"hive, cloudera, python, NoSQL, spark, Cassadra..."
senior python developer,Talent Zone Consultant,Bangalore/Bengaluru,8-10,"Performance tuning, Automation, Backend, HP da..."
senior bigdata engineer or data architect,Rectras Business Solutions Pvt Ltd.,"Pune, Chennai, Bengaluru",4-9,"Automation, Data analysis, Prototype, Applicat..."
senior Data Analyst,Spectral Consultants,Pune,2-5,"Logistic regression, Data analysis, Factor ana..."

In [24]:
a.loc['urgent requirement For data scientist':'senior Data Analyst	']

,Company,Location,Job Experience,Skills/Description
Job_Role,,,,
urgent requirement For data scientist,Orcapod Consulting Services Private Limited,Hyderabad/Secunderabad,4-6,"git, written communication, unit testing, obje..."
urgent hiring For data engineers - bang / any,Experis IT Private Limited,"Bangalore/Bengaluru, any",3-5,"hive, cloudera, python, NoSQL, spark, Cassadra..."
senior python developer,Talent Zone Consultant,Bangalore/Bengaluru,8-10,"Performance tuning, Automation, Backend, HP da..."
senior bigdata engineer or data architect,Rectras Business Solutions Pvt Ltd.,"Pune, Chennai, Bengaluru",4-9,"Automation, Data analysis, Prototype, Applicat..."

In [25]:
a.iloc[0:4]

,Company,Location,Job Experience,Skills/Description
Job_Role,,,,
urgent requirement For data scientist,Orcapod Consulting Services Private Limited,Hyderabad/Secunderabad,4-6,"git, written communication, unit testing, obje..."
urgent hiring For data engineers - bang / any,Experis IT Private Limited,"Bangalore/Bengaluru, any",3-5,"hive, cloudera, python, NoSQL, spark, Cassadra..."
senior python developer,Talent Zone Consultant,Bangalore/Bengaluru,8-10,"Performance tuning, Automation, Backend, HP da..."
senior bigdata engineer or data architect,Rectras Business Solutions Pvt Ltd.,"Pune, Chennai, Bengaluru",4-9,"Automation, Data analysis, Prototype, Applicat..."

# DF Access III

In [3]:
import pandas as pd

In [4]:
a = pd.read_csv('/kaggle/input/data-science-jobs-in-india/naukri_data_science_jobs_india.csv', index_col = ['Job_Role'])
a

,Company,Location,Job Experience,Skills/Description
Job_Role,,,,
Senior Data Scientist,UPL,"Bangalore/Bengaluru, Mumbai (All Areas)",3-6,"python, MLT, statistical modeling, machine lea..."
Senior Data Scientist,Walmart,Bangalore/Bengaluru,5-9,"Data Science, Machine learning, Python, Azure,..."
Applied Data Scientist / ML Senior Engineer (Python / SQL),SAP India Pvt.Ltd,Bangalore/Bengaluru,5-10,"Python, IT Skills, Testing, Cloud, Product Man..."
Data Scientist,UPL,"Bangalore/Bengaluru, Mumbai (All Areas)",1-4,"python, machine learning, Data Science, data a..."
Data Scientist,Walmart,Bangalore/Bengaluru,4-8,"IT Skills, Python, Data Science, Machine Learn..."
...,...,...,...,...
Tech Lead/Architect ( Contractual ),Krazy Mantra HR Solutions Pvt. Ltd,"Kolkata, Chennai, Bangalore/Bengaluru",8-13,"Spark, Python, S3, lambda, Athena, AWS, IT Ski..."
Tech Lead / POD Lead,cliqhr.com,"Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru",10-12,"AirFlow, BigQuery, GCS, Kafka, Java, Shell scr..."
Java Full Stack Developer - Hibernate / Spring,Serving Skill,"Hyderabad/Secunderabad, Bangalore/Bengaluru",2-5,"IT Skills, Java, Software Development, Testing..."
Tech Lead - Azure,cliqhr.com,"Kochi/Cochin, Mumbai, Hyderabad/Secunderabad, ...",8-10,"PowerShell, Azure Data Factory, Azure, PaaS, M..."
Full Stack Developer - Machine Learning,Huquo Consulting Pvt. Ltd,Bangalore/Bengaluru,5-10,"Java, JavaScript, Machine Learning, NoSQL, Clo..."

In [28]:
a.tail()

,Company,Location,Job Experience,Skills/Description
Job_Role,,,,
Tech Lead/Architect ( Contractual ),Krazy Mantra HR Solutions Pvt. Ltd,"Kolkata, Chennai, Bangalore/Bengaluru",8-13,"Spark, Python, S3, lambda, Athena, AWS, IT Ski..."
Tech Lead / POD Lead,cliqhr.com,"Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru",10-12,"AirFlow, BigQuery, GCS, Kafka, Java, Shell scr..."
Java Full Stack Developer - Hibernate / Spring,Serving Skill,"Hyderabad/Secunderabad, Bangalore/Bengaluru",2-5,"IT Skills, Java, Software Development, Testing..."
Tech Lead - Azure,cliqhr.com,"Kochi/Cochin, Mumbai, Hyderabad/Secunderabad, ...",8-10,"PowerShell, Azure Data Factory, Azure, PaaS, M..."
Full Stack Developer - Machine Learning,Huquo Consulting Pvt. Ltd,Bangalore/Bengaluru,5-10,"Java, JavaScript, Machine Learning, NoSQL, Clo..."

In [29]:
a.loc['Tech Lead - Azure','Company']

'cliqhr.com'

In [30]:
a.loc['Tech Lead - Azure','Location']

'Kochi/Cochin, Mumbai, Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru'

In [5]:
a.loc['Senior Data Scientist','Company']

Job_Role
Senior Data Scientist                                               UPL
Senior Data Scientist                                           Walmart
Senior Data Scientist    Northface Consultancy Services Private Limited
Senior Data Scientist                                          referral
Senior Data Scientist                            Revnomix Solutions LLP
                                              ...
Senior Data Scientist              Idexcel Technologies Private Limited
Senior Data Scientist                        Pitney Bowes India Pvt Ltd
Senior Data Scientist                 Nanobi Data And Analytics Pvt Ltd
Senior Data Scientist                         Bigshyft Hiring for Zupee
Senior Data Scientist                              Sysvine Technologies
Name: Company, Length: 97, dtype: object

In [6]:
a.loc['Senior Data Scientist',['Company','Location']]

,Company,Location
Job_Role,,
Senior Data Scientist,UPL,"Bangalore/Bengaluru, Mumbai (All Areas)"
Senior Data Scientist,Walmart,Bangalore/Bengaluru
Senior Data Scientist,Northface Consultancy Services Private Limited,Bangalore/Bengaluru(Whitefield)
Senior Data Scientist,referral,Bangalore/Bengaluru
Senior Data Scientist,Revnomix Solutions LLP,"Mumbai, Pune, Mumbai (All Areas)"
...,...,...
Senior Data Scientist,Idexcel Technologies Private Limited,Bangalore/Bengaluru
Senior Data Scientist,Pitney Bowes India Pvt Ltd,Noida
Senior Data Scientist,Nanobi Data And Analytics Pvt Ltd,Bengaluru
Senior Data Scientist,Bigshyft Hiring for Zupee,Gurgaon/Gurugram
Senior Data Scientist,Sysvine Technologies,Remote

**Accessing the multiple columns**

In [7]:
a

,Company,Location,Job Experience,Skills/Description
Job_Role,,,,
Senior Data Scientist,UPL,"Bangalore/Bengaluru, Mumbai (All Areas)",3-6,"python, MLT, statistical modeling, machine lea..."
Senior Data Scientist,Walmart,Bangalore/Bengaluru,5-9,"Data Science, Machine learning, Python, Azure,..."
Applied Data Scientist / ML Senior Engineer (Python / SQL),SAP India Pvt.Ltd,Bangalore/Bengaluru,5-10,"Python, IT Skills, Testing, Cloud, Product Man..."
Data Scientist,UPL,"Bangalore/Bengaluru, Mumbai (All Areas)",1-4,"python, machine learning, Data Science, data a..."
Data Scientist,Walmart,Bangalore/Bengaluru,4-8,"IT Skills, Python, Data Science, Machine Learn..."
...,...,...,...,...
Tech Lead/Architect ( Contractual ),Krazy Mantra HR Solutions Pvt. Ltd,"Kolkata, Chennai, Bangalore/Bengaluru",8-13,"Spark, Python, S3, lambda, Athena, AWS, IT Ski..."
Tech Lead / POD Lead,cliqhr.com,"Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru",10-12,"AirFlow, BigQuery, GCS, Kafka, Java, Shell scr..."
Java Full Stack Developer - Hibernate / Spring,Serving Skill,"Hyderabad/Secunderabad, Bangalore/Bengaluru",2-5,"IT Skills, Java, Software Development, Testing..."
Tech Lead - Azure,cliqhr.com,"Kochi/Cochin, Mumbai, Hyderabad/Secunderabad, ...",8-10,"PowerShell, Azure Data Factory, Azure, PaaS, M..."
Full Stack Developer - Machine Learning,Huquo Consulting Pvt. Ltd,Bangalore/Bengaluru,5-10,"Java, JavaScript, Machine Learning, NoSQL, Clo..."

In [10]:
a.loc[:,['Company','Skills/Description']]

,Company,Skills/Description
Job_Role,,
Senior Data Scientist,UPL,"python, MLT, statistical modeling, machine lea..."
Senior Data Scientist,Walmart,"Data Science, Machine learning, Python, Azure,..."
Applied Data Scientist / ML Senior Engineer (Python / SQL),SAP India Pvt.Ltd,"Python, IT Skills, Testing, Cloud, Product Man..."
Data Scientist,UPL,"python, machine learning, Data Science, data a..."
Data Scientist,Walmart,"IT Skills, Python, Data Science, Machine Learn..."
...,...,...
Tech Lead/Architect ( Contractual ),Krazy Mantra HR Solutions Pvt. Ltd,"Spark, Python, S3, lambda, Athena, AWS, IT Ski..."
Tech Lead / POD Lead,cliqhr.com,"AirFlow, BigQuery, GCS, Kafka, Java, Shell scr..."
Java Full Stack Developer - Hibernate / Spring,Serving Skill,"IT Skills, Java, Software Development, Testing..."
Tech Lead - Azure,cliqhr.com,"PowerShell, Azure Data Factory, Azure, PaaS, M..."
Full Stack Developer - Machine Learning,Huquo Consulting Pvt. Ltd,"Java, JavaScript, Machine Learning, NoSQL, Clo..."

**Slicing rows and columns**

In [13]:
a.loc['Senior Data Scientist':'Data Scientist','Company':'Job Experience']

KeyError: "Cannot get left slice bound for non-unique label: 'Senior Data Scientist'"

In [14]:
a = pd.read_csv('/kaggle/input/data-science-jobs-in-india/naukri_data_science_jobs_india.csv', index_col = ['Skills/Description'])
a

,Job_Role,Company,Location,Job Experience
Skills/Description,,,,
"python, MLT, statistical modeling, machine learning, IT Skills, advanced analytics, scala, statistics",Senior Data Scientist,UPL,"Bangalore/Bengaluru, Mumbai (All Areas)",3-6
"Data Science, Machine learning, Python, Azure, BiqQuery, GCP, PySpark, tensorflow",Senior Data Scientist,Walmart,Bangalore/Bengaluru,5-9
"Python, IT Skills, Testing, Cloud, Product Management, SAP, Cloud computing, NLP",Applied Data Scientist / ML Senior Engineer (P...,SAP India Pvt.Ltd,Bangalore/Bengaluru,5-10
"python, machine learning, Data Science, data analysis, aws, azure",Data Scientist,UPL,"Bangalore/Bengaluru, Mumbai (All Areas)",1-4
"IT Skills, Python, Data Science, Machine Learning, Big Data, Computer science, Computer vision, deep learning",Data Scientist,Walmart,Bangalore/Bengaluru,4-8
...,...,...,...,...
"Spark, Python, S3, lambda, Athena, AWS, IT Skills, Cloud",Tech Lead/Architect ( Contractual ),Krazy Mantra HR Solutions Pvt. Ltd,"Kolkata, Chennai, Bangalore/Bengaluru",8-13
"AirFlow, BigQuery, GCS, Kafka, Java, Shell script, RDBMS, Python",Tech Lead / POD Lead,cliqhr.com,"Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru",10-12
"IT Skills, Java, Software Development, Testing, Node.js, HTML, CSS, Hibernate",Java Full Stack Developer - Hibernate / Spring,Serving Skill,"Hyderabad/Secunderabad, Bangalore/Bengaluru",2-5
"PowerShell, Azure Data Factory, Azure, PaaS, MDM, SaaS, IaaS, Azure Data Lake",Tech Lead - Azure,cliqhr.com,"Kochi/Cochin, Mumbai, Hyderabad/Secunderabad, ...",8-10
"Java, JavaScript, Machine Learning, NoSQL, Cloud Computing, Full Stack, AWS, SQL",Full Stack Developer - Machine Learning,Huquo Consulting Pvt. Ltd,Bangalore/Bengaluru,5-10

In [15]:
a.loc['python, MLT, statistical modeling, machine learning, IT Skills, advanced analytics, scala, statistics':'IT Skills, Python, Data Science, Machine Learning, Big Data, Computer science, Computer vision, deep learning','Job_Role':'Location']

,Job_Role,Company,Location
Skills/Description,,,
"python, MLT, statistical modeling, machine learning, IT Skills, advanced analytics, scala, statistics",Senior Data Scientist,UPL,"Bangalore/Bengaluru, Mumbai (All Areas)"
"Data Science, Machine learning, Python, Azure, BiqQuery, GCP, PySpark, tensorflow",Senior Data Scientist,Walmart,Bangalore/Bengaluru
"Python, IT Skills, Testing, Cloud, Product Management, SAP, Cloud computing, NLP",Applied Data Scientist / ML Senior Engineer (P...,SAP India Pvt.Ltd,Bangalore/Bengaluru
"python, machine learning, Data Science, data analysis, aws, azure",Data Scientist,UPL,"Bangalore/Bengaluru, Mumbai (All Areas)"
"IT Skills, Python, Data Science, Machine Learning, Big Data, Computer science, Computer vision, deep learning",Data Scientist,Walmart,Bangalore/Bengaluru

# Updating Values in DataFrame

In [16]:
import pandas as pd

In [19]:
a = pd.read_csv('/kaggle/input/data-science-jobs-in-india/naukri_data_science_jobs_india.csv', index_col = ['Job_Role'])
a

,Company,Location,Job Experience,Skills/Description
Job_Role,,,,
Senior Data Scientist,UPL,"Bangalore/Bengaluru, Mumbai (All Areas)",3-6,"python, MLT, statistical modeling, machine lea..."
Senior Data Scientist,Walmart,Bangalore/Bengaluru,5-9,"Data Science, Machine learning, Python, Azure,..."
Applied Data Scientist / ML Senior Engineer (Python / SQL),SAP India Pvt.Ltd,Bangalore/Bengaluru,5-10,"Python, IT Skills, Testing, Cloud, Product Man..."
Data Scientist,UPL,"Bangalore/Bengaluru, Mumbai (All Areas)",1-4,"python, machine learning, Data Science, data a..."
Data Scientist,Walmart,Bangalore/Bengaluru,4-8,"IT Skills, Python, Data Science, Machine Learn..."
...,...,...,...,...
Tech Lead/Architect ( Contractual ),Krazy Mantra HR Solutions Pvt. Ltd,"Kolkata, Chennai, Bangalore/Bengaluru",8-13,"Spark, Python, S3, lambda, Athena, AWS, IT Ski..."
Tech Lead / POD Lead,cliqhr.com,"Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru",10-12,"AirFlow, BigQuery, GCS, Kafka, Java, Shell scr..."
Java Full Stack Developer - Hibernate / Spring,Serving Skill,"Hyderabad/Secunderabad, Bangalore/Bengaluru",2-5,"IT Skills, Java, Software Development, Testing..."
Tech Lead - Azure,cliqhr.com,"Kochi/Cochin, Mumbai, Hyderabad/Secunderabad, ...",8-10,"PowerShell, Azure Data Factory, Azure, PaaS, M..."
Full Stack Developer - Machine Learning,Huquo Consulting Pvt. Ltd,Bangalore/Bengaluru,5-10,"Java, JavaScript, Machine Learning, NoSQL, Clo..."

**Uploading the cell value**

In [20]:
a

,Company,Location,Job Experience,Skills/Description
Job_Role,,,,
Senior Data Scientist,UPL,"Bangalore/Bengaluru, Mumbai (All Areas)",3-6,"python, MLT, statistical modeling, machine lea..."
Senior Data Scientist,Walmart,Bangalore/Bengaluru,5-9,"Data Science, Machine learning, Python, Azure,..."
Applied Data Scientist / ML Senior Engineer (Python / SQL),SAP India Pvt.Ltd,Bangalore/Bengaluru,5-10,"Python, IT Skills, Testing, Cloud, Product Man..."
Data Scientist,UPL,"Bangalore/Bengaluru, Mumbai (All Areas)",1-4,"python, machine learning, Data Science, data a..."
Data Scientist,Walmart,Bangalore/Bengaluru,4-8,"IT Skills, Python, Data Science, Machine Learn..."
...,...,...,...,...
Tech Lead/Architect ( Contractual ),Krazy Mantra HR Solutions Pvt. Ltd,"Kolkata, Chennai, Bangalore/Bengaluru",8-13,"Spark, Python, S3, lambda, Athena, AWS, IT Ski..."
Tech Lead / POD Lead,cliqhr.com,"Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru",10-12,"AirFlow, BigQuery, GCS, Kafka, Java, Shell scr..."
Java Full Stack Developer - Hibernate / Spring,Serving Skill,"Hyderabad/Secunderabad, Bangalore/Bengaluru",2-5,"IT Skills, Java, Software Development, Testing..."
Tech Lead - Azure,cliqhr.com,"Kochi/Cochin, Mumbai, Hyderabad/Secunderabad, ...",8-10,"PowerShell, Azure Data Factory, Azure, PaaS, M..."
Full Stack Developer - Machine Learning,Huquo Consulting Pvt. Ltd,Bangalore/Bengaluru,5-10,"Java, JavaScript, Machine Learning, NoSQL, Clo..."

In [24]:
a.loc['Tech Lead - Azure','Company'] = "CliqHR.com"

In [25]:
a.tail(3)

,Company,Location,Job Experience,Skills/Description
Job_Role,,,,
Java Full Stack Developer - Hibernate / Spring,Serving Skill,"Hyderabad/Secunderabad, Bangalore/Bengaluru",2-5,"IT Skills, Java, Software Development, Testing..."
Tech Lead - Azure,CliqHR.com,"Kochi/Cochin, Mumbai, Hyderabad/Secunderabad, ...",8-10,"PowerShell, Azure Data Factory, Azure, PaaS, M..."
Full Stack Developer - Machine Learning,Huquo Consulting Pvt. Ltd,Bangalore/Bengaluru,5-10,"Java, JavaScript, Machine Learning, NoSQL, Clo..."

**Updating Multiple columns**

In [29]:
a

,Company,Location,Job Experience,Skills/Description
Job_Role,,,,
Senior Data Scientist,UPL,"Bangalore/Bengaluru, Mumbai (All Areas)",3-6,"python, MLT, statistical modeling, machine lea..."
Senior Data Scientist,Walmart,Bangalore/Bengaluru,5-9,"Data Science, Machine learning, Python, Azure,..."
Applied Data Scientist / ML Senior Engineer (Python / SQL),SAP India Pvt.Ltd,Bangalore/Bengaluru,5-10,"Python, IT Skills, Testing, Cloud, Product Man..."
Data Scientist,UPL,"Bangalore/Bengaluru, Mumbai (All Areas)",1-4,"python, machine learning, Data Science, data a..."
Data Scientist,Walmart,Bangalore/Bengaluru,4-8,"IT Skills, Python, Data Science, Machine Learn..."
...,...,...,...,...
Tech Lead/Architect ( Contractual ),Krazy Mantra HR Solutions Pvt. Ltd,"Kolkata, Chennai, Bangalore/Bengaluru",8-13,"Spark, Python, S3, lambda, Athena, AWS, IT Ski..."
Tech Lead / POD Lead,cliqhr.com,"Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru",10-12,"AirFlow, BigQuery, GCS, Kafka, Java, Shell scr..."
Java Full Stack Developer - Hibernate / Spring,Serving Skill,"Hyderabad/Secunderabad, Bangalore/Bengaluru",2-5,"IT Skills, Java, Software Development, Testing..."
Tech Lead - Azure,CliqHR.com,"Kochi/Cochin, Mumbai, Hyderabad/Secunderabad, ...",8-10,"PowerShell, Azure Data Factory, Azure, PaaS, M..."
Full Stack Developer - Machine Learning,Huquo Consulting Pvt. Ltd,Bangalore/Bengaluru,5-10,"Java, JavaScript, Machine Learning, NoSQL, Clo..."

In [35]:
a.loc["Senior Data Scientist",["Location","Job Experience"]] = ["Bangalore/Bengaluru","3-6"]
a
#all entries with the city Bangalore

,Company,Location,Job Experience,Skills/Description
Job_Role,,,,
Senior Data Scientist,UPL,Bangalore/Bengaluru,3-6,"python, MLT, statistical modeling, machine lea..."
Senior Data Scientist,Walmart,Bangalore/Bengaluru,3-6,"Data Science, Machine learning, Python, Azure,..."
Applied Data Scientist / ML Senior Engineer (Python / SQL),SAP India Pvt.Ltd,Bangalore/Bengaluru,5-10,"Python, IT Skills, Testing, Cloud, Product Man..."
Data Scientist,UPL,"Bangalore/Bengaluru, Mumbai (All Areas)",1-4,"python, machine learning, Data Science, data a..."
Data Scientist,Walmart,Bangalore/Bengaluru,4-8,"IT Skills, Python, Data Science, Machine Learn..."
...,...,...,...,...
Tech Lead/Architect ( Contractual ),Krazy Mantra HR Solutions Pvt. Ltd,"Kolkata, Chennai, Bangalore/Bengaluru",8-13,"Spark, Python, S3, lambda, Athena, AWS, IT Ski..."
Tech Lead / POD Lead,cliqhr.com,"Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru",10-12,"AirFlow, BigQuery, GCS, Kafka, Java, Shell scr..."
Java Full Stack Developer - Hibernate / Spring,Serving Skill,"Hyderabad/Secunderabad, Bangalore/Bengaluru",2-5,"IT Skills, Java, Software Development, Testing..."
Tech Lead - Azure,CliqHR.com,"Kochi/Cochin, Mumbai, Hyderabad/Secunderabad, ...",8-10,"PowerShell, Azure Data Factory, Azure, PaaS, M..."
Full Stack Developer - Machine Learning,Huquo Consulting Pvt. Ltd,Bangalore/Bengaluru,5-10,"Java, JavaScript, Machine Learning, NoSQL, Clo..."

In [37]:
a.loc["Senior Data Scientist",["Location","Job Experience"]]

                                  Location Job Experience
Job_Role
Senior Data Scientist  Bangalore/Bengaluru            3-6
Senior Data Scientist  Bangalore/Bengaluru            3-6
Senior Data Scientist  Bangalore/Bengaluru            3-6
Senior Data Scientist  Bangalore/Bengaluru            3-6
Senior Data Scientist  Bangalore/Bengaluru            3-6
...                                    ...            ...
Senior Data Scientist  Bangalore/Bengaluru            3-6
Senior Data Scientist  Bangalore/Bengaluru            3-6
Senior Data Scientist  Bangalore/Bengaluru            3-6
Senior Data Scientist  Bangalore/Bengaluru            3-6
Senior Data Scientist  Bangalore/Bengaluru            3-6

[97 rows x 2 columns]

**Rename all Bengalore to Bengaluru**

In [38]:
a

,Company,Location,Job Experience,Skills/Description
Job_Role,,,,
Senior Data Scientist,UPL,Bangalore/Bengaluru,3-6,"python, MLT, statistical modeling, machine lea..."
Senior Data Scientist,Walmart,Bangalore/Bengaluru,3-6,"Data Science, Machine learning, Python, Azure,..."
Applied Data Scientist / ML Senior Engineer (Python / SQL),SAP India Pvt.Ltd,Bangalore/Bengaluru,5-10,"Python, IT Skills, Testing, Cloud, Product Man..."
Data Scientist,UPL,"Bangalore/Bengaluru, Mumbai (All Areas)",1-4,"python, machine learning, Data Science, data a..."
Data Scientist,Walmart,Bangalore/Bengaluru,4-8,"IT Skills, Python, Data Science, Machine Learn..."
...,...,...,...,...
Tech Lead/Architect ( Contractual ),Krazy Mantra HR Solutions Pvt. Ltd,"Kolkata, Chennai, Bangalore/Bengaluru",8-13,"Spark, Python, S3, lambda, Athena, AWS, IT Ski..."
Tech Lead / POD Lead,cliqhr.com,"Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru",10-12,"AirFlow, BigQuery, GCS, Kafka, Java, Shell scr..."
Java Full Stack Developer - Hibernate / Spring,Serving Skill,"Hyderabad/Secunderabad, Bangalore/Bengaluru",2-5,"IT Skills, Java, Software Development, Testing..."
Tech Lead - Azure,CliqHR.com,"Kochi/Cochin, Mumbai, Hyderabad/Secunderabad, ...",8-10,"PowerShell, Azure Data Factory, Azure, PaaS, M..."
Full Stack Developer - Machine Learning,Huquo Consulting Pvt. Ltd,Bangalore/Bengaluru,5-10,"Java, JavaScript, Machine Learning, NoSQL, Clo..."

In [39]:
a.loc[:,"Location"].isin(["Bangalore","Bangalore/Bengaluru"])

Job_Role
Senior Data Scientist                                          True
Senior Data Scientist                                          True
Applied Data Scientist / ML Senior Engineer (Python / SQL)     True
Data Scientist                                                False
Data Scientist                                                 True
                                                              ...
Tech Lead/Architect ( Contractual )                           False
Tech Lead / POD Lead                                          False
Java Full Stack Developer - Hibernate / Spring                False
Tech Lead - Azure                                             False
Full Stack Developer - Machine Learning                        True
Name: Location, Length: 12000, dtype: bool

In [40]:
mask1 = a.loc[:,"Location"].isin(["Bangalore","Bangalore/Bengaluru"])
mask1

Job_Role
Senior Data Scientist                                          True
Senior Data Scientist                                          True
Applied Data Scientist / ML Senior Engineer (Python / SQL)     True
Data Scientist                                                False
Data Scientist                                                 True
                                                              ...
Tech Lead/Architect ( Contractual )                           False
Tech Lead / POD Lead                                          False
Java Full Stack Developer - Hibernate / Spring                False
Tech Lead - Azure                                             False
Full Stack Developer - Machine Learning                        True
Name: Location, Length: 12000, dtype: bool

In [41]:
a[mask1]

,Company,Location,Job Experience,Skills/Description
Job_Role,,,,
Senior Data Scientist,UPL,Bangalore/Bengaluru,3-6,"python, MLT, statistical modeling, machine lea..."
Senior Data Scientist,Walmart,Bangalore/Bengaluru,3-6,"Data Science, Machine learning, Python, Azure,..."
Applied Data Scientist / ML Senior Engineer (Python / SQL),SAP India Pvt.Ltd,Bangalore/Bengaluru,5-10,"Python, IT Skills, Testing, Cloud, Product Man..."
Data Scientist,Walmart,Bangalore/Bengaluru,4-8,"IT Skills, Python, Data Science, Machine Learn..."
Principal Data Scientist,Walmart,Bangalore/Bengaluru,7-12,"Data Science, oral communication, Shell, Pytho..."
...,...,...,...,...
Full Stack Developer - Machine Learning,Huquo Consulting Pvt. Ltd,Bangalore/Bengaluru,8-12,"full stack, aws, Machine Learning, Java, NoSQL..."
Manager/Lead - Machine Learning/Analytics,Catalyst,Bangalore/Bengaluru,6-11,"IT Skills, Machine Learning, Artificial Intell..."
Product Manager- Artificial Intelligence / Machine Learning-( AI - ML),Pioneer Manpower Solutions,Bangalore/Bengaluru,12-16,"Enterprise Cloud, Artificial Intelligence, Mac..."
Product Manager- Artificial Intelligence/ Machine Learning-(AI-ML),Pioneer Manpower Solutions,Bangalore/Bengaluru,8-13,"AI, Machine Learning, Data Science, IT Skills,..."
Full Stack Developer - Machine Learning,Huquo Consulting Pvt. Ltd,Bangalore/Bengaluru,5-10,"Java, JavaScript, Machine Learning, NoSQL, Clo..."

In [45]:
a[mask1].loc[:,"Location"] = "Bangalore/Bengaluru"

/tmp/ipykernel_33/2822035806.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  a[mask1].loc[:,"Location"] = "Bangalore/Bengaluru"

In [48]:
a.loc[mask1,"Location"] = "Bengaluru"

In [49]:
a.loc[mask1]

,Company,Location,Job Experience,Skills/Description
Job_Role,,,,
Senior Data Scientist,UPL,Bengaluru,3-6,"python, MLT, statistical modeling, machine lea..."
Senior Data Scientist,Walmart,Bengaluru,3-6,"Data Science, Machine learning, Python, Azure,..."
Applied Data Scientist / ML Senior Engineer (Python / SQL),SAP India Pvt.Ltd,Bengaluru,5-10,"Python, IT Skills, Testing, Cloud, Product Man..."
Data Scientist,Walmart,Bengaluru,4-8,"IT Skills, Python, Data Science, Machine Learn..."
Principal Data Scientist,Walmart,Bengaluru,7-12,"Data Science, oral communication, Shell, Pytho..."
...,...,...,...,...
Full Stack Developer - Machine Learning,Huquo Consulting Pvt. Ltd,Bengaluru,8-12,"full stack, aws, Machine Learning, Java, NoSQL..."
Manager/Lead - Machine Learning/Analytics,Catalyst,Bengaluru,6-11,"IT Skills, Machine Learning, Artificial Intell..."
Product Manager- Artificial Intelligence / Machine Learning-( AI - ML),Pioneer Manpower Solutions,Bengaluru,12-16,"Enterprise Cloud, Artificial Intelligence, Mac..."
Product Manager- Artificial Intelligence/ Machine Learning-(AI-ML),Pioneer Manpower Solutions,Bengaluru,8-13,"AI, Machine Learning, Data Science, IT Skills,..."
Full Stack Developer - Machine Learning,Huquo Consulting Pvt. Ltd,Bengaluru,5-10,"Java, JavaScript, Machine Learning, NoSQL, Clo..."

# Index Rename

**We can rename index or column names**
* Mapper + Axis
* Index + Column

**Mapper + Axis**

In [50]:
import pandas as pd

In [52]:
a = pd.read_csv('/kaggle/input/data-science-jobs-in-india/naukri_data_science_jobs_india.csv',index_col = ['Job_Role'])
a

,Company,Location,Job Experience,Skills/Description
Job_Role,,,,
Senior Data Scientist,UPL,"Bangalore/Bengaluru, Mumbai (All Areas)",3-6,"python, MLT, statistical modeling, machine lea..."
Senior Data Scientist,Walmart,Bangalore/Bengaluru,5-9,"Data Science, Machine learning, Python, Azure,..."
Applied Data Scientist / ML Senior Engineer (Python / SQL),SAP India Pvt.Ltd,Bangalore/Bengaluru,5-10,"Python, IT Skills, Testing, Cloud, Product Man..."
Data Scientist,UPL,"Bangalore/Bengaluru, Mumbai (All Areas)",1-4,"python, machine learning, Data Science, data a..."
Data Scientist,Walmart,Bangalore/Bengaluru,4-8,"IT Skills, Python, Data Science, Machine Learn..."
...,...,...,...,...
Tech Lead/Architect ( Contractual ),Krazy Mantra HR Solutions Pvt. Ltd,"Kolkata, Chennai, Bangalore/Bengaluru",8-13,"Spark, Python, S3, lambda, Athena, AWS, IT Ski..."
Tech Lead / POD Lead,cliqhr.com,"Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru",10-12,"AirFlow, BigQuery, GCS, Kafka, Java, Shell scr..."
Java Full Stack Developer - Hibernate / Spring,Serving Skill,"Hyderabad/Secunderabad, Bangalore/Bengaluru",2-5,"IT Skills, Java, Software Development, Testing..."
Tech Lead - Azure,cliqhr.com,"Kochi/Cochin, Mumbai, Hyderabad/Secunderabad, ...",8-10,"PowerShell, Azure Data Factory, Azure, PaaS, M..."
Full Stack Developer - Machine Learning,Huquo Consulting Pvt. Ltd,Bangalore/Bengaluru,5-10,"Java, JavaScript, Machine Learning, NoSQL, Clo..."

In [53]:
a

,Company,Location,Job Experience,Skills/Description
Job_Role,,,,
Senior Data Scientist,UPL,"Bangalore/Bengaluru, Mumbai (All Areas)",3-6,"python, MLT, statistical modeling, machine lea..."
Senior Data Scientist,Walmart,Bangalore/Bengaluru,5-9,"Data Science, Machine learning, Python, Azure,..."
Applied Data Scientist / ML Senior Engineer (Python / SQL),SAP India Pvt.Ltd,Bangalore/Bengaluru,5-10,"Python, IT Skills, Testing, Cloud, Product Man..."
Data Scientist,UPL,"Bangalore/Bengaluru, Mumbai (All Areas)",1-4,"python, machine learning, Data Science, data a..."
Data Scientist,Walmart,Bangalore/Bengaluru,4-8,"IT Skills, Python, Data Science, Machine Learn..."
...,...,...,...,...
Tech Lead/Architect ( Contractual ),Krazy Mantra HR Solutions Pvt. Ltd,"Kolkata, Chennai, Bangalore/Bengaluru",8-13,"Spark, Python, S3, lambda, Athena, AWS, IT Ski..."
Tech Lead / POD Lead,cliqhr.com,"Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru",10-12,"AirFlow, BigQuery, GCS, Kafka, Java, Shell scr..."
Java Full Stack Developer - Hibernate / Spring,Serving Skill,"Hyderabad/Secunderabad, Bangalore/Bengaluru",2-5,"IT Skills, Java, Software Development, Testing..."
Tech Lead - Azure,cliqhr.com,"Kochi/Cochin, Mumbai, Hyderabad/Secunderabad, ...",8-10,"PowerShell, Azure Data Factory, Azure, PaaS, M..."
Full Stack Developer - Machine Learning,Huquo Consulting Pvt. Ltd,Bangalore/Bengaluru,5-10,"Java, JavaScript, Machine Learning, NoSQL, Clo..."

In [55]:
a.rename(mapper = {"Senior Data Scientist":"Senior Data Analyst",
                   "Data Scientist":"Data Analyst"},
                    axis = 0, inplace = True)

In [57]:
a.rename(mapper = {"Senior Data Scientist":"Senior Data Analyst",
                   "Data Scientist":"Data Analyst"},
                    axis = "rows", inplace = True) #axis =0/index/rows means the same
a

,Company,Location,Job Experience,Skills/Description
Job_Role,,,,
Senior Data Analyst,UPL,"Bangalore/Bengaluru, Mumbai (All Areas)",3-6,"python, MLT, statistical modeling, machine lea..."
Senior Data Analyst,Walmart,Bangalore/Bengaluru,5-9,"Data Science, Machine learning, Python, Azure,..."
Applied Data Scientist / ML Senior Engineer (Python / SQL),SAP India Pvt.Ltd,Bangalore/Bengaluru,5-10,"Python, IT Skills, Testing, Cloud, Product Man..."
Data Analyst,UPL,"Bangalore/Bengaluru, Mumbai (All Areas)",1-4,"python, machine learning, Data Science, data a..."
Data Analyst,Walmart,Bangalore/Bengaluru,4-8,"IT Skills, Python, Data Science, Machine Learn..."
...,...,...,...,...
Tech Lead/Architect ( Contractual ),Krazy Mantra HR Solutions Pvt. Ltd,"Kolkata, Chennai, Bangalore/Bengaluru",8-13,"Spark, Python, S3, lambda, Athena, AWS, IT Ski..."
Tech Lead / POD Lead,cliqhr.com,"Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru",10-12,"AirFlow, BigQuery, GCS, Kafka, Java, Shell scr..."
Java Full Stack Developer - Hibernate / Spring,Serving Skill,"Hyderabad/Secunderabad, Bangalore/Bengaluru",2-5,"IT Skills, Java, Software Development, Testing..."
Tech Lead - Azure,cliqhr.com,"Kochi/Cochin, Mumbai, Hyderabad/Secunderabad, ...",8-10,"PowerShell, Azure Data Factory, Azure, PaaS, M..."
Full Stack Developer - Machine Learning,Huquo Consulting Pvt. Ltd,Bangalore/Bengaluru,5-10,"Java, JavaScript, Machine Learning, NoSQL, Clo..."

**Using index and column argument**

In [58]:
a

,Company,Location,Job Experience,Skills/Description
Job_Role,,,,
Senior Data Analyst,UPL,"Bangalore/Bengaluru, Mumbai (All Areas)",3-6,"python, MLT, statistical modeling, machine lea..."
Senior Data Analyst,Walmart,Bangalore/Bengaluru,5-9,"Data Science, Machine learning, Python, Azure,..."
Applied Data Scientist / ML Senior Engineer (Python / SQL),SAP India Pvt.Ltd,Bangalore/Bengaluru,5-10,"Python, IT Skills, Testing, Cloud, Product Man..."
Data Analyst,UPL,"Bangalore/Bengaluru, Mumbai (All Areas)",1-4,"python, machine learning, Data Science, data a..."
Data Analyst,Walmart,Bangalore/Bengaluru,4-8,"IT Skills, Python, Data Science, Machine Learn..."
...,...,...,...,...
Tech Lead/Architect ( Contractual ),Krazy Mantra HR Solutions Pvt. Ltd,"Kolkata, Chennai, Bangalore/Bengaluru",8-13,"Spark, Python, S3, lambda, Athena, AWS, IT Ski..."
Tech Lead / POD Lead,cliqhr.com,"Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru",10-12,"AirFlow, BigQuery, GCS, Kafka, Java, Shell scr..."
Java Full Stack Developer - Hibernate / Spring,Serving Skill,"Hyderabad/Secunderabad, Bangalore/Bengaluru",2-5,"IT Skills, Java, Software Development, Testing..."
Tech Lead - Azure,cliqhr.com,"Kochi/Cochin, Mumbai, Hyderabad/Secunderabad, ...",8-10,"PowerShell, Azure Data Factory, Azure, PaaS, M..."
Full Stack Developer - Machine Learning,Huquo Consulting Pvt. Ltd,Bangalore/Bengaluru,5-10,"Java, JavaScript, Machine Learning, NoSQL, Clo..."

In [62]:
a.rename(index = {"Senior Data Analyst":"Senior Data Scientist",
                 "Data Analyst":"Data Scientist"}, inplace = True)
a

,Company,Location,Job Experience,Skills/Description
Job_Role,,,,
Senior Data Scientist,UPL,"Bangalore/Bengaluru, Mumbai (All Areas)",3-6,"python, MLT, statistical modeling, machine lea..."
Senior Data Scientist,Walmart,Bangalore/Bengaluru,5-9,"Data Science, Machine learning, Python, Azure,..."
Applied Data Scientist / ML Senior Engineer (Python / SQL),SAP India Pvt.Ltd,Bangalore/Bengaluru,5-10,"Python, IT Skills, Testing, Cloud, Product Man..."
Data Scientist,UPL,"Bangalore/Bengaluru, Mumbai (All Areas)",1-4,"python, machine learning, Data Science, data a..."
Data Scientist,Walmart,Bangalore/Bengaluru,4-8,"IT Skills, Python, Data Science, Machine Learn..."
...,...,...,...,...
Tech Lead/Architect ( Contractual ),Krazy Mantra HR Solutions Pvt. Ltd,"Kolkata, Chennai, Bangalore/Bengaluru",8-13,"Spark, Python, S3, lambda, Athena, AWS, IT Ski..."
Tech Lead / POD Lead,cliqhr.com,"Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru",10-12,"AirFlow, BigQuery, GCS, Kafka, Java, Shell scr..."
Java Full Stack Developer - Hibernate / Spring,Serving Skill,"Hyderabad/Secunderabad, Bangalore/Bengaluru",2-5,"IT Skills, Java, Software Development, Testing..."
Tech Lead - Azure,cliqhr.com,"Kochi/Cochin, Mumbai, Hyderabad/Secunderabad, ...",8-10,"PowerShell, Azure Data Factory, Azure, PaaS, M..."
Full Stack Developer - Machine Learning,Huquo Consulting Pvt. Ltd,Bangalore/Bengaluru,5-10,"Java, JavaScript, Machine Learning, NoSQL, Clo..."

In [63]:
a

,Company,Location,Job Experience,Skills/Description
Job_Role,,,,
Senior Data Scientist,UPL,"Bangalore/Bengaluru, Mumbai (All Areas)",3-6,"python, MLT, statistical modeling, machine lea..."
Senior Data Scientist,Walmart,Bangalore/Bengaluru,5-9,"Data Science, Machine learning, Python, Azure,..."
Applied Data Scientist / ML Senior Engineer (Python / SQL),SAP India Pvt.Ltd,Bangalore/Bengaluru,5-10,"Python, IT Skills, Testing, Cloud, Product Man..."
Data Scientist,UPL,"Bangalore/Bengaluru, Mumbai (All Areas)",1-4,"python, machine learning, Data Science, data a..."
Data Scientist,Walmart,Bangalore/Bengaluru,4-8,"IT Skills, Python, Data Science, Machine Learn..."
...,...,...,...,...
Tech Lead/Architect ( Contractual ),Krazy Mantra HR Solutions Pvt. Ltd,"Kolkata, Chennai, Bangalore/Bengaluru",8-13,"Spark, Python, S3, lambda, Athena, AWS, IT Ski..."
Tech Lead / POD Lead,cliqhr.com,"Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru",10-12,"AirFlow, BigQuery, GCS, Kafka, Java, Shell scr..."
Java Full Stack Developer - Hibernate / Spring,Serving Skill,"Hyderabad/Secunderabad, Bangalore/Bengaluru",2-5,"IT Skills, Java, Software Development, Testing..."
Tech Lead - Azure,cliqhr.com,"Kochi/Cochin, Mumbai, Hyderabad/Secunderabad, ...",8-10,"PowerShell, Azure Data Factory, Azure, PaaS, M..."
Full Stack Developer - Machine Learning,Huquo Consulting Pvt. Ltd,Bangalore/Bengaluru,5-10,"Java, JavaScript, Machine Learning, NoSQL, Clo..."

# Column Renaming

**Use mapper and axis**

In [64]:
import pandas as pd

In [65]:
a = pd.read_csv('/kaggle/input/data-science-jobs-in-india/naukri_data_science_jobs_india.csv', index_col = ['Job_Role'])
a

,Company,Location,Job Experience,Skills/Description
Job_Role,,,,
Senior Data Scientist,UPL,"Bangalore/Bengaluru, Mumbai (All Areas)",3-6,"python, MLT, statistical modeling, machine lea..."
Senior Data Scientist,Walmart,Bangalore/Bengaluru,5-9,"Data Science, Machine learning, Python, Azure,..."
Applied Data Scientist / ML Senior Engineer (Python / SQL),SAP India Pvt.Ltd,Bangalore/Bengaluru,5-10,"Python, IT Skills, Testing, Cloud, Product Man..."
Data Scientist,UPL,"Bangalore/Bengaluru, Mumbai (All Areas)",1-4,"python, machine learning, Data Science, data a..."
Data Scientist,Walmart,Bangalore/Bengaluru,4-8,"IT Skills, Python, Data Science, Machine Learn..."
...,...,...,...,...
Tech Lead/Architect ( Contractual ),Krazy Mantra HR Solutions Pvt. Ltd,"Kolkata, Chennai, Bangalore/Bengaluru",8-13,"Spark, Python, S3, lambda, Athena, AWS, IT Ski..."
Tech Lead / POD Lead,cliqhr.com,"Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru",10-12,"AirFlow, BigQuery, GCS, Kafka, Java, Shell scr..."
Java Full Stack Developer - Hibernate / Spring,Serving Skill,"Hyderabad/Secunderabad, Bangalore/Bengaluru",2-5,"IT Skills, Java, Software Development, Testing..."
Tech Lead - Azure,cliqhr.com,"Kochi/Cochin, Mumbai, Hyderabad/Secunderabad, ...",8-10,"PowerShell, Azure Data Factory, Azure, PaaS, M..."
Full Stack Developer - Machine Learning,Huquo Consulting Pvt. Ltd,Bangalore/Bengaluru,5-10,"Java, JavaScript, Machine Learning, NoSQL, Clo..."

In [68]:
a.rename(mapper = {"Company" : "Firm",
                  "Skills/Description" : "Jor Requirement"}, axis = 1)

#To change the name of the column

,Firm,Location,Job Experience,Jor Requirement
Job_Role,,,,
Senior Data Scientist,UPL,"Bangalore/Bengaluru, Mumbai (All Areas)",3-6,"python, MLT, statistical modeling, machine lea..."
Senior Data Scientist,Walmart,Bangalore/Bengaluru,5-9,"Data Science, Machine learning, Python, Azure,..."
Applied Data Scientist / ML Senior Engineer (Python / SQL),SAP India Pvt.Ltd,Bangalore/Bengaluru,5-10,"Python, IT Skills, Testing, Cloud, Product Man..."
Data Scientist,UPL,"Bangalore/Bengaluru, Mumbai (All Areas)",1-4,"python, machine learning, Data Science, data a..."
Data Scientist,Walmart,Bangalore/Bengaluru,4-8,"IT Skills, Python, Data Science, Machine Learn..."
...,...,...,...,...
Tech Lead/Architect ( Contractual ),Krazy Mantra HR Solutions Pvt. Ltd,"Kolkata, Chennai, Bangalore/Bengaluru",8-13,"Spark, Python, S3, lambda, Athena, AWS, IT Ski..."
Tech Lead / POD Lead,cliqhr.com,"Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru",10-12,"AirFlow, BigQuery, GCS, Kafka, Java, Shell scr..."
Java Full Stack Developer - Hibernate / Spring,Serving Skill,"Hyderabad/Secunderabad, Bangalore/Bengaluru",2-5,"IT Skills, Java, Software Development, Testing..."
Tech Lead - Azure,cliqhr.com,"Kochi/Cochin, Mumbai, Hyderabad/Secunderabad, ...",8-10,"PowerShell, Azure Data Factory, Azure, PaaS, M..."
Full Stack Developer - Machine Learning,Huquo Consulting Pvt. Ltd,Bangalore/Bengaluru,5-10,"Java, JavaScript, Machine Learning, NoSQL, Clo..."

In [69]:
a #no permanent change observed

,Company,Location,Job Experience,Skills/Description
Job_Role,,,,
Senior Data Scientist,UPL,"Bangalore/Bengaluru, Mumbai (All Areas)",3-6,"python, MLT, statistical modeling, machine lea..."
Senior Data Scientist,Walmart,Bangalore/Bengaluru,5-9,"Data Science, Machine learning, Python, Azure,..."
Applied Data Scientist / ML Senior Engineer (Python / SQL),SAP India Pvt.Ltd,Bangalore/Bengaluru,5-10,"Python, IT Skills, Testing, Cloud, Product Man..."
Data Scientist,UPL,"Bangalore/Bengaluru, Mumbai (All Areas)",1-4,"python, machine learning, Data Science, data a..."
Data Scientist,Walmart,Bangalore/Bengaluru,4-8,"IT Skills, Python, Data Science, Machine Learn..."
...,...,...,...,...
Tech Lead/Architect ( Contractual ),Krazy Mantra HR Solutions Pvt. Ltd,"Kolkata, Chennai, Bangalore/Bengaluru",8-13,"Spark, Python, S3, lambda, Athena, AWS, IT Ski..."
Tech Lead / POD Lead,cliqhr.com,"Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru",10-12,"AirFlow, BigQuery, GCS, Kafka, Java, Shell scr..."
Java Full Stack Developer - Hibernate / Spring,Serving Skill,"Hyderabad/Secunderabad, Bangalore/Bengaluru",2-5,"IT Skills, Java, Software Development, Testing..."
Tech Lead - Azure,cliqhr.com,"Kochi/Cochin, Mumbai, Hyderabad/Secunderabad, ...",8-10,"PowerShell, Azure Data Factory, Azure, PaaS, M..."
Full Stack Developer - Machine Learning,Huquo Consulting Pvt. Ltd,Bangalore/Bengaluru,5-10,"Java, JavaScript, Machine Learning, NoSQL, Clo..."

In [70]:
a.rename(mapper = {"Company" : "Firm",
                  "Skills/Description" : "Jor Requirement"}, axis = 1, inplace = True)

#To change the name of the column and keeping it as a permanent change
a

,Firm,Location,Job Experience,Jor Requirement
Job_Role,,,,
Senior Data Scientist,UPL,"Bangalore/Bengaluru, Mumbai (All Areas)",3-6,"python, MLT, statistical modeling, machine lea..."
Senior Data Scientist,Walmart,Bangalore/Bengaluru,5-9,"Data Science, Machine learning, Python, Azure,..."
Applied Data Scientist / ML Senior Engineer (Python / SQL),SAP India Pvt.Ltd,Bangalore/Bengaluru,5-10,"Python, IT Skills, Testing, Cloud, Product Man..."
Data Scientist,UPL,"Bangalore/Bengaluru, Mumbai (All Areas)",1-4,"python, machine learning, Data Science, data a..."
Data Scientist,Walmart,Bangalore/Bengaluru,4-8,"IT Skills, Python, Data Science, Machine Learn..."
...,...,...,...,...
Tech Lead/Architect ( Contractual ),Krazy Mantra HR Solutions Pvt. Ltd,"Kolkata, Chennai, Bangalore/Bengaluru",8-13,"Spark, Python, S3, lambda, Athena, AWS, IT Ski..."
Tech Lead / POD Lead,cliqhr.com,"Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru",10-12,"AirFlow, BigQuery, GCS, Kafka, Java, Shell scr..."
Java Full Stack Developer - Hibernate / Spring,Serving Skill,"Hyderabad/Secunderabad, Bangalore/Bengaluru",2-5,"IT Skills, Java, Software Development, Testing..."
Tech Lead - Azure,cliqhr.com,"Kochi/Cochin, Mumbai, Hyderabad/Secunderabad, ...",8-10,"PowerShell, Azure Data Factory, Azure, PaaS, M..."
Full Stack Developer - Machine Learning,Huquo Consulting Pvt. Ltd,Bangalore/Bengaluru,5-10,"Java, JavaScript, Machine Learning, NoSQL, Clo..."

In [71]:
a.columns

Index(['Firm', 'Location', 'Job Experience', 'Jor Requirement'], dtype='object')

In [72]:
a

,Firm,Location,Job Experience,Jor Requirement
Job_Role,,,,
Senior Data Scientist,UPL,"Bangalore/Bengaluru, Mumbai (All Areas)",3-6,"python, MLT, statistical modeling, machine lea..."
Senior Data Scientist,Walmart,Bangalore/Bengaluru,5-9,"Data Science, Machine learning, Python, Azure,..."
Applied Data Scientist / ML Senior Engineer (Python / SQL),SAP India Pvt.Ltd,Bangalore/Bengaluru,5-10,"Python, IT Skills, Testing, Cloud, Product Man..."
Data Scientist,UPL,"Bangalore/Bengaluru, Mumbai (All Areas)",1-4,"python, machine learning, Data Science, data a..."
Data Scientist,Walmart,Bangalore/Bengaluru,4-8,"IT Skills, Python, Data Science, Machine Learn..."
...,...,...,...,...
Tech Lead/Architect ( Contractual ),Krazy Mantra HR Solutions Pvt. Ltd,"Kolkata, Chennai, Bangalore/Bengaluru",8-13,"Spark, Python, S3, lambda, Athena, AWS, IT Ski..."
Tech Lead / POD Lead,cliqhr.com,"Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru",10-12,"AirFlow, BigQuery, GCS, Kafka, Java, Shell scr..."
Java Full Stack Developer - Hibernate / Spring,Serving Skill,"Hyderabad/Secunderabad, Bangalore/Bengaluru",2-5,"IT Skills, Java, Software Development, Testing..."
Tech Lead - Azure,cliqhr.com,"Kochi/Cochin, Mumbai, Hyderabad/Secunderabad, ...",8-10,"PowerShell, Azure Data Factory, Azure, PaaS, M..."
Full Stack Developer - Machine Learning,Huquo Consulting Pvt. Ltd,Bangalore/Bengaluru,5-10,"Java, JavaScript, Machine Learning, NoSQL, Clo..."

In [74]:
a.rename(columns = {"Firm": "Company",
                   "Jor Requirement": "Skills/Description"}, inplace = True)
a

,Company,Location,Job Experience,Skills/Description
Job_Role,,,,
Senior Data Scientist,UPL,"Bangalore/Bengaluru, Mumbai (All Areas)",3-6,"python, MLT, statistical modeling, machine lea..."
Senior Data Scientist,Walmart,Bangalore/Bengaluru,5-9,"Data Science, Machine learning, Python, Azure,..."
Applied Data Scientist / ML Senior Engineer (Python / SQL),SAP India Pvt.Ltd,Bangalore/Bengaluru,5-10,"Python, IT Skills, Testing, Cloud, Product Man..."
Data Scientist,UPL,"Bangalore/Bengaluru, Mumbai (All Areas)",1-4,"python, machine learning, Data Science, data a..."
Data Scientist,Walmart,Bangalore/Bengaluru,4-8,"IT Skills, Python, Data Science, Machine Learn..."
...,...,...,...,...
Tech Lead/Architect ( Contractual ),Krazy Mantra HR Solutions Pvt. Ltd,"Kolkata, Chennai, Bangalore/Bengaluru",8-13,"Spark, Python, S3, lambda, Athena, AWS, IT Ski..."
Tech Lead / POD Lead,cliqhr.com,"Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru",10-12,"AirFlow, BigQuery, GCS, Kafka, Java, Shell scr..."
Java Full Stack Developer - Hibernate / Spring,Serving Skill,"Hyderabad/Secunderabad, Bangalore/Bengaluru",2-5,"IT Skills, Java, Software Development, Testing..."
Tech Lead - Azure,cliqhr.com,"Kochi/Cochin, Mumbai, Hyderabad/Secunderabad, ...",8-10,"PowerShell, Azure Data Factory, Azure, PaaS, M..."
Full Stack Developer - Machine Learning,Huquo Consulting Pvt. Ltd,Bangalore/Bengaluru,5-10,"Java, JavaScript, Machine Learning, NoSQL, Clo..."

# Delete Rows

In [1]:
import pandas as pd

In [3]:
a = pd.read_csv('/kaggle/input/data-science-jobs-in-india/naukri_data_science_jobs_india.csv', index_col = ['Job_Role'])
a

,Company,Location,Job Experience,Skills/Description
Job_Role,,,,
Senior Data Scientist,UPL,"Bangalore/Bengaluru, Mumbai (All Areas)",3-6,"python, MLT, statistical modeling, machine lea..."
Senior Data Scientist,Walmart,Bangalore/Bengaluru,5-9,"Data Science, Machine learning, Python, Azure,..."
Applied Data Scientist / ML Senior Engineer (Python / SQL),SAP India Pvt.Ltd,Bangalore/Bengaluru,5-10,"Python, IT Skills, Testing, Cloud, Product Man..."
Data Scientist,UPL,"Bangalore/Bengaluru, Mumbai (All Areas)",1-4,"python, machine learning, Data Science, data a..."
Data Scientist,Walmart,Bangalore/Bengaluru,4-8,"IT Skills, Python, Data Science, Machine Learn..."
...,...,...,...,...
Tech Lead/Architect ( Contractual ),Krazy Mantra HR Solutions Pvt. Ltd,"Kolkata, Chennai, Bangalore/Bengaluru",8-13,"Spark, Python, S3, lambda, Athena, AWS, IT Ski..."
Tech Lead / POD Lead,cliqhr.com,"Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru",10-12,"AirFlow, BigQuery, GCS, Kafka, Java, Shell scr..."
Java Full Stack Developer - Hibernate / Spring,Serving Skill,"Hyderabad/Secunderabad, Bangalore/Bengaluru",2-5,"IT Skills, Java, Software Development, Testing..."
Tech Lead - Azure,cliqhr.com,"Kochi/Cochin, Mumbai, Hyderabad/Secunderabad, ...",8-10,"PowerShell, Azure Data Factory, Azure, PaaS, M..."
Full Stack Developer - Machine Learning,Huquo Consulting Pvt. Ltd,Bangalore/Bengaluru,5-10,"Java, JavaScript, Machine Learning, NoSQL, Clo..."

**Drop Method()**

In [5]:
a.describe()

,Company,Location,Job Experience,Skills/Description
count,12000,12000,12000,12000
unique,3507,822,143,11356
top,Accenture,Bangalore/Bengaluru,5-10,"Computer science, Manager Quality Assurance, F..."
freq,490,3383,944,8

In [7]:
a.drop(labels = "Senior Data Scientist", inplace = True)

KeyError: "['Senior Data Scientist'] not found in axis"

In [8]:
a.describe()

,Company,Location,Job Experience,Skills/Description
count,11903,11903,11903,11903
unique,3490,820,143,11264
top,Accenture,Bangalore/Bengaluru,5-10,"Computer science, Manager Quality Assurance, F..."
freq,490,3349,936,8

In [12]:
a.drop(labels = "Skills/Description", axis = 1, inplace = True)
a

KeyError: "['Skills/Description'] not found in axis"

In [13]:
a

#we dropped Skills/Description from the given dataset

,Company,Location,Job Experience
Job_Role,,,
Applied Data Scientist / ML Senior Engineer (Python / SQL),SAP India Pvt.Ltd,Bangalore/Bengaluru,5-10
Data Scientist,UPL,"Bangalore/Bengaluru, Mumbai (All Areas)",1-4
Data Scientist,Walmart,Bangalore/Bengaluru,4-8
Principal Data Scientist,Walmart,Bangalore/Bengaluru,7-12
Data Scientist,Walmart,Bangalore/Bengaluru,4-8
...,...,...,...
Tech Lead/Architect ( Contractual ),Krazy Mantra HR Solutions Pvt. Ltd,"Kolkata, Chennai, Bangalore/Bengaluru",8-13
Tech Lead / POD Lead,cliqhr.com,"Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru",10-12
Java Full Stack Developer - Hibernate / Spring,Serving Skill,"Hyderabad/Secunderabad, Bangalore/Bengaluru",2-5
Tech Lead - Azure,cliqhr.com,"Kochi/Cochin, Mumbai, Hyderabad/Secunderabad, ...",8-10
Full Stack Developer - Machine Learning,Huquo Consulting Pvt. Ltd,Bangalore/Bengaluru,5-10

**Using pop method**

In [14]:
loc = a.pop("Location")
a

,Company,Job Experience
Job_Role,,
Applied Data Scientist / ML Senior Engineer (Python / SQL),SAP India Pvt.Ltd,5-10
Data Scientist,UPL,1-4
Data Scientist,Walmart,4-8
Principal Data Scientist,Walmart,7-12
Data Scientist,Walmart,4-8
...,...,...
Tech Lead/Architect ( Contractual ),Krazy Mantra HR Solutions Pvt. Ltd,8-13
Tech Lead / POD Lead,cliqhr.com,10-12
Java Full Stack Developer - Hibernate / Spring,Serving Skill,2-5
Tech Lead - Azure,cliqhr.com,8-10
Full Stack Developer - Machine Learning,Huquo Consulting Pvt. Ltd,5-10

In [15]:
loc #returns the index values

Job_Role
Applied Data Scientist / ML Senior Engineer (Python / SQL)                                  Bangalore/Bengaluru
Data Scientist                                                          Bangalore/Bengaluru, Mumbai (All Areas)
Data Scientist                                                                              Bangalore/Bengaluru
Principal Data Scientist                                                                    Bangalore/Bengaluru
Data Scientist                                                                              Bangalore/Bengaluru
                                                                                    ...
Tech Lead/Architect ( Contractual )                                       Kolkata, Chennai, Bangalore/Bengaluru
Tech Lead / POD Lead                                          Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru
Java Full Stack Developer - Hibernate / Spring                      Hyderabad/Secunderabad, Bangalore/Bengaluru
Tech Lead - Azure                                             Kochi/Cochin, Mumbai, Hyderabad/Secunderabad, ...
Full Stack Developer - Machine Learning                                                     Bangalore/Bengaluru
Name: Location, Length: 11903, dtype: object

**Using del keyword**

In [16]:
del a['Company']

In [17]:
a

                                                   Job Experience
Job_Role
Applied Data Scientist / ML Senior Engineer (Py...           5-10
Data Scientist                                                1-4
Data Scientist                                                4-8
Principal Data Scientist                                     7-12
Data Scientist                                                4-8
...                                                           ...
Tech Lead/Architect ( Contractual )                          8-13
Tech Lead / POD Lead                                        10-12
Java Full Stack Developer - Hibernate / Spring                2-5
Tech Lead - Azure                                            8-10
Full Stack Developer - Machine Learning                      5-10

[11903 rows x 1 columns]

# Random Samples

In [2]:
import pandas as pd

In [3]:
a = pd.read_csv('/kaggle/input/data-science-jobs-in-india/naukri_data_science_jobs_india.csv', index_col = ['Job_Role'])
a

,Company,Location,Job Experience,Skills/Description
Job_Role,,,,
Senior Data Scientist,UPL,"Bangalore/Bengaluru, Mumbai (All Areas)",3-6,"python, MLT, statistical modeling, machine lea..."
Senior Data Scientist,Walmart,Bangalore/Bengaluru,5-9,"Data Science, Machine learning, Python, Azure,..."
Applied Data Scientist / ML Senior Engineer (Python / SQL),SAP India Pvt.Ltd,Bangalore/Bengaluru,5-10,"Python, IT Skills, Testing, Cloud, Product Man..."
Data Scientist,UPL,"Bangalore/Bengaluru, Mumbai (All Areas)",1-4,"python, machine learning, Data Science, data a..."
Data Scientist,Walmart,Bangalore/Bengaluru,4-8,"IT Skills, Python, Data Science, Machine Learn..."
...,...,...,...,...
Tech Lead/Architect ( Contractual ),Krazy Mantra HR Solutions Pvt. Ltd,"Kolkata, Chennai, Bangalore/Bengaluru",8-13,"Spark, Python, S3, lambda, Athena, AWS, IT Ski..."
Tech Lead / POD Lead,cliqhr.com,"Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru",10-12,"AirFlow, BigQuery, GCS, Kafka, Java, Shell scr..."
Java Full Stack Developer - Hibernate / Spring,Serving Skill,"Hyderabad/Secunderabad, Bangalore/Bengaluru",2-5,"IT Skills, Java, Software Development, Testing..."
Tech Lead - Azure,cliqhr.com,"Kochi/Cochin, Mumbai, Hyderabad/Secunderabad, ...",8-10,"PowerShell, Azure Data Factory, Azure, PaaS, M..."
Full Stack Developer - Machine Learning,Huquo Consulting Pvt. Ltd,Bangalore/Bengaluru,5-10,"Java, JavaScript, Machine Learning, NoSQL, Clo..."

In [4]:
a.sample()

,Company,Location,Job Experience,Skills/Description
Job_Role,,,,
SDET - data science,CRED,Bangalore/Bengaluru,3-5,"automation framework, Object oriented design, ..."

**Random columns**

In [5]:
a

,Company,Location,Job Experience,Skills/Description
Job_Role,,,,
Senior Data Scientist,UPL,"Bangalore/Bengaluru, Mumbai (All Areas)",3-6,"python, MLT, statistical modeling, machine lea..."
Senior Data Scientist,Walmart,Bangalore/Bengaluru,5-9,"Data Science, Machine learning, Python, Azure,..."
Applied Data Scientist / ML Senior Engineer (Python / SQL),SAP India Pvt.Ltd,Bangalore/Bengaluru,5-10,"Python, IT Skills, Testing, Cloud, Product Man..."
Data Scientist,UPL,"Bangalore/Bengaluru, Mumbai (All Areas)",1-4,"python, machine learning, Data Science, data a..."
Data Scientist,Walmart,Bangalore/Bengaluru,4-8,"IT Skills, Python, Data Science, Machine Learn..."
...,...,...,...,...
Tech Lead/Architect ( Contractual ),Krazy Mantra HR Solutions Pvt. Ltd,"Kolkata, Chennai, Bangalore/Bengaluru",8-13,"Spark, Python, S3, lambda, Athena, AWS, IT Ski..."
Tech Lead / POD Lead,cliqhr.com,"Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru",10-12,"AirFlow, BigQuery, GCS, Kafka, Java, Shell scr..."
Java Full Stack Developer - Hibernate / Spring,Serving Skill,"Hyderabad/Secunderabad, Bangalore/Bengaluru",2-5,"IT Skills, Java, Software Development, Testing..."
Tech Lead - Azure,cliqhr.com,"Kochi/Cochin, Mumbai, Hyderabad/Secunderabad, ...",8-10,"PowerShell, Azure Data Factory, Azure, PaaS, M..."
Full Stack Developer - Machine Learning,Huquo Consulting Pvt. Ltd,Bangalore/Bengaluru,5-10,"Java, JavaScript, Machine Learning, NoSQL, Clo..."

In [6]:
a.sample(n = 2, axis = 1)

,Company,Skills/Description
Job_Role,,
Senior Data Scientist,UPL,"python, MLT, statistical modeling, machine lea..."
Senior Data Scientist,Walmart,"Data Science, Machine learning, Python, Azure,..."
Applied Data Scientist / ML Senior Engineer (Python / SQL),SAP India Pvt.Ltd,"Python, IT Skills, Testing, Cloud, Product Man..."
Data Scientist,UPL,"python, machine learning, Data Science, data a..."
Data Scientist,Walmart,"IT Skills, Python, Data Science, Machine Learn..."
...,...,...
Tech Lead/Architect ( Contractual ),Krazy Mantra HR Solutions Pvt. Ltd,"Spark, Python, S3, lambda, Athena, AWS, IT Ski..."
Tech Lead / POD Lead,cliqhr.com,"AirFlow, BigQuery, GCS, Kafka, Java, Shell scr..."
Java Full Stack Developer - Hibernate / Spring,Serving Skill,"IT Skills, Java, Software Development, Testing..."
Tech Lead - Azure,cliqhr.com,"PowerShell, Azure Data Factory, Azure, PaaS, M..."
Full Stack Developer - Machine Learning,Huquo Consulting Pvt. Ltd,"Java, JavaScript, Machine Learning, NoSQL, Clo..."

**Frac argument**

In [7]:
a.describe()

,Company,Location,Job Experience,Skills/Description
count,12000,12000,12000,12000
unique,3507,822,143,11356
top,Accenture,Bangalore/Bengaluru,5-10,"Computer science, Manager Quality Assurance, F..."
freq,490,3383,944,8

In [8]:
a.sample(frac = 0.1)

,Company,Location,Job Experience,Skills/Description
Job_Role,,,,
Hiring Python Developer with Pyspark & Hive Experience- Remote/Gurgaon,INCUBIT GLOBAL BUSINESS SERVICES PVT LTD,Gurgaon/Gurugram,3-6,"Pyspark, Hive, Python Developer, Big Data, fla..."
Executive Manager - Data Modelling,PEPSI FOODS PRIV LIMITED,Hyderabad/Secunderabad,10-15,"Supply chain, Computer science, Data analysis,..."
Data Engineer / Python Developer,TeamPlus Staffing Solution Pvt Ltd,Hyderabad/Secunderabad,8-15,"Cloud computing, RCA, MS SQL, RDBMS, Oracle, A..."
Data Engineering Lead - DataStage,Optum,Hyderabad/Secunderabad,10-15,"DataStage, Unix, Data Engineering, Agile, ETL,..."
Salesforce Business Analyst - CRM Solutions,Career Infosystem,Bangalore/Bengaluru,5-8,"Use Cases, IT Skills, Testing, Project Managem..."
...,...,...,...,...
Data Scientist,Liquiloans,Mumbai,3-4,"Scipy, Pandas, Numpy, Data Science, predictive..."
Hiring DataOps Engineer @ UST BlueConch,UST BlueConch,Pune,3-7,"Postgres Database, Data Pipeline, SQL, IT Skil..."
Lead Financial Data Analyst,Moody's,Bangalore/Bengaluru,3-5,"Finance, Financial Statements, Financial sprea..."
Senior Software Engineer,Betsol Software India Private Limited,Bangalore/Bengaluru,5-8,"Azure, SVNCI, Microsoft Office, Word, microser..."
Data Scientist - Computer Vision/NLP,TalentStack,Mumbai,1-4,"NLP, Computer Vision, Tensorflow, data structu..."

**Replace argument - same row can be selected more than once**

In [9]:
a.sample(n = 20, replace = False)

,Company,Location,Job Experience,Skills/Description
Job_Role,,,,
Analyst-Finance Data Maintenance,Accenture,Mumbai,3-5,"Consulting, Financial operations, Client relat..."
Marketing Data Engineers,ACI Infotech,"Hyderabad/Secunderabad, New Delhi",4-9,"Computer science, Google Analytics, Coding, An..."
Data Engineer,Digital Group InfoTech Pvt Ltd,Pune,6-11,"Automation, RDBMS, Postgresql, Shell scripting..."
Senior Data Engineer,ADATIS INDIA PRIVATE LIMITED(Part of Telefonic...,Pune(Kalyani Nagar),5-10,"Azure Databricks, SSIS, Azure Data Factory, Da..."
Project Manager Digital Therapeutics PMO,Personnel Search Services,Hyderabad/Secunderabad,8-12,"Product management, PMP, Business analysis, Pr..."
Data Scientist: Artificial Intelligence,IBM,Bangalore/Bengaluru,12-15,"IT Skills, Java, Python, Data Science, Artific..."
Data Analyst,AISpotters,Madurai,3-6,"IT Skills, Artificial Intelligence, BPO, Train..."
Data Engineer,GMMCO Limited,Chennai,4-9,"Data Modeling, Data Transformation, Data Quali..."
Senior ETL Developer,QS Quacquarelli Symonds,Bangalore/Bengaluru,3-8,"Performance tuning, Database design, Postgresq..."
Data Architect - Machine Learning - 6+ Years,CRESCENDO GLOBAL LEADERSHIP HIRING INDIA PRIVA...,"Kolkata, Bangalore/Bengaluru, Mumbai (All Areas)",6-8,"Data Pipeline, machine learning, Python, IT Sk..."
Quality Analyst,T & A Solutions,Mohali,5-7,"Computer science, Automation, Manual testing, ..."
Data Engineer - SQL & Python | Lululemon,TALENT500 TECH (INDIA) PRIVATE LIMITED,Bangalore/Bengaluru,5-8,python
Lead Data Scientist,Thoucentric Technology Pvt ltd,Bangalore/Bengaluru(HSR Layout +2),6-10,"deep learning, python, machine learning, Tenso..."
Data Engineer,HRS,Chandigarh,1-4,"AWS, communication, IT Skills, Machine Learnin..."
SAP BusinessObjects Data Services Data Platform Engineer,Accenture,Chennai,6-8,"Data Quality, SAP BODS, PL SQL Enterprise HANA..."
Azure Data Bricks Engineer,Skill On Tap,Bangalore/Bengaluru,6-9,"Azure Databricks, IT Skills, Python, Project M..."
Workday Business Change measurement & Readiness Analyst,WPP IT,Bangalore/Bengaluru,3-7,"IT services, Automation, Change management, ta..."
Data Engineer,Federation of Indo Israeli Chambers of Commerce,Remote,3-8,"Java, CI / CD, SQL queries, Python, data wareh..."
Python Developers,Diverse Lynx,Bengaluru,2-7,"Python, HTML5, object - relational mapping ( O..."
Analyst - F&A,KPMG,Mumbai,0-1,"Manager Internal Audit, Corporate governance, ..."

# Largest/Smallest Value

In [12]:
import pandas as pd
import numpy as np

In [11]:
a = pd.read_csv('/kaggle/input/data-science-jobs-in-india/naukri_data_science_jobs_india.csv', index_col = ['Job_Role'])
a

,Company,Location,Job Experience,Skills/Description
Job_Role,,,,
Senior Data Scientist,UPL,"Bangalore/Bengaluru, Mumbai (All Areas)",3-6,"python, MLT, statistical modeling, machine lea..."
Senior Data Scientist,Walmart,Bangalore/Bengaluru,5-9,"Data Science, Machine learning, Python, Azure,..."
Applied Data Scientist / ML Senior Engineer (Python / SQL),SAP India Pvt.Ltd,Bangalore/Bengaluru,5-10,"Python, IT Skills, Testing, Cloud, Product Man..."
Data Scientist,UPL,"Bangalore/Bengaluru, Mumbai (All Areas)",1-4,"python, machine learning, Data Science, data a..."
Data Scientist,Walmart,Bangalore/Bengaluru,4-8,"IT Skills, Python, Data Science, Machine Learn..."
...,...,...,...,...
Tech Lead/Architect ( Contractual ),Krazy Mantra HR Solutions Pvt. Ltd,"Kolkata, Chennai, Bangalore/Bengaluru",8-13,"Spark, Python, S3, lambda, Athena, AWS, IT Ski..."
Tech Lead / POD Lead,cliqhr.com,"Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru",10-12,"AirFlow, BigQuery, GCS, Kafka, Java, Shell scr..."
Java Full Stack Developer - Hibernate / Spring,Serving Skill,"Hyderabad/Secunderabad, Bangalore/Bengaluru",2-5,"IT Skills, Java, Software Development, Testing..."
Tech Lead - Azure,cliqhr.com,"Kochi/Cochin, Mumbai, Hyderabad/Secunderabad, ...",8-10,"PowerShell, Azure Data Factory, Azure, PaaS, M..."
Full Stack Developer - Machine Learning,Huquo Consulting Pvt. Ltd,Bangalore/Bengaluru,5-10,"Java, JavaScript, Machine Learning, NoSQL, Clo..."

In [13]:
a['Salary'] = np.random.randint(400000, 4000000, size = 12000)
a

,Company,Location,Job Experience,Skills/Description,Salary
Job_Role,,,,,
Senior Data Scientist,UPL,"Bangalore/Bengaluru, Mumbai (All Areas)",3-6,"python, MLT, statistical modeling, machine lea...",2073297
Senior Data Scientist,Walmart,Bangalore/Bengaluru,5-9,"Data Science, Machine learning, Python, Azure,...",624007
Applied Data Scientist / ML Senior Engineer (Python / SQL),SAP India Pvt.Ltd,Bangalore/Bengaluru,5-10,"Python, IT Skills, Testing, Cloud, Product Man...",1552513
Data Scientist,UPL,"Bangalore/Bengaluru, Mumbai (All Areas)",1-4,"python, machine learning, Data Science, data a...",1276516
Data Scientist,Walmart,Bangalore/Bengaluru,4-8,"IT Skills, Python, Data Science, Machine Learn...",2441309
...,...,...,...,...,...
Tech Lead/Architect ( Contractual ),Krazy Mantra HR Solutions Pvt. Ltd,"Kolkata, Chennai, Bangalore/Bengaluru",8-13,"Spark, Python, S3, lambda, Athena, AWS, IT Ski...",1469723
Tech Lead / POD Lead,cliqhr.com,"Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru",10-12,"AirFlow, BigQuery, GCS, Kafka, Java, Shell scr...",2943191
Java Full Stack Developer - Hibernate / Spring,Serving Skill,"Hyderabad/Secunderabad, Bangalore/Bengaluru",2-5,"IT Skills, Java, Software Development, Testing...",3190399
Tech Lead - Azure,cliqhr.com,"Kochi/Cochin, Mumbai, Hyderabad/Secunderabad, ...",8-10,"PowerShell, Azure Data Factory, Azure, PaaS, M...",491790
Full Stack Developer - Machine Learning,Huquo Consulting Pvt. Ltd,Bangalore/Bengaluru,5-10,"Java, JavaScript, Machine Learning, NoSQL, Clo...",2786192

In [14]:
a.sort_values("Salary", ascending = False)

,Company,Location,Job Experience,Skills/Description,Salary
Job_Role,,,,,
Senior Business Analyst/Assistant Manager - Scala/Spark - Big Data,Huquo Consulting Pvt. Ltd,Delhi / NCR,2-5,"Java, Hive, Hadoop, SCALA, Big Data, Mapreduce...",3999284
Data Engineer,Anlage Infotech (I) Pvt. Ltd.,Hyderabad/Secunderabad,3-8,"java, spark, scala, data engineer, Mapreduce, ...",3999071
Market Data Operations Engineer,IG Infotech India,Bangalore/Bengaluru,2-5,"CFD, Linux, Data management, Agile, market dat...",3998702
Data Scientist II,Groupon,Bangalore/Bengaluru,3-6,"AWS services, Data Science, NLP, Neural Networ...",3997838
Data Scientist,epiFi Technologies,Bangalore/Bengaluru,3-5,"IT Skills, Python, Machine Learning, AWS, Data...",3997603
...,...,...,...,...,...
Sr . Business Systems Analyst,kk consulting services,Bangalore/Bengaluru,7-12,"Business process, Data analysis, Data manageme...",401315
Analyst- Data Science,Accenture,Bangalore/Bengaluru,3-5,"Data Science, Predictive Modeling, data models...",400896
Reference Data Analyst,Deutsche Bank,Bangalore/Bengaluru,2-5,"Diversity and Inclusion, Data Analyst",400864
Data Integration Specialist,GSK India,Bangalore/Bengaluru,4-7,"Procurement, Computer science, Data management...",400648
Data Analyst,Glance IT Solution,Bangalore/Bengaluru,1-4,"IT Skills, Python, Tableau, Power BI, Procurem...",400517

In [15]:
a.sort_values("Salary", ascending = False).head(3)

,Company,Location,Job Experience,Skills/Description,Salary
Job_Role,,,,,
Senior Business Analyst/Assistant Manager - Scala/Spark - Big Data,Huquo Consulting Pvt. Ltd,Delhi / NCR,2-5,"Java, Hive, Hadoop, SCALA, Big Data, Mapreduce...",3999284
Data Engineer,Anlage Infotech (I) Pvt. Ltd.,Hyderabad/Secunderabad,3-8,"java, spark, scala, data engineer, Mapreduce, ...",3999071
Market Data Operations Engineer,IG Infotech India,Bangalore/Bengaluru,2-5,"CFD, Linux, Data management, Agile, market dat...",3998702

In [16]:
a.nlargest(3, "Salary")

,Company,Location,Job Experience,Skills/Description,Salary
Job_Role,,,,,
Senior Business Analyst/Assistant Manager - Scala/Spark - Big Data,Huquo Consulting Pvt. Ltd,Delhi / NCR,2-5,"Java, Hive, Hadoop, SCALA, Big Data, Mapreduce...",3999284
Data Engineer,Anlage Infotech (I) Pvt. Ltd.,Hyderabad/Secunderabad,3-8,"java, spark, scala, data engineer, Mapreduce, ...",3999071
Market Data Operations Engineer,IG Infotech India,Bangalore/Bengaluru,2-5,"CFD, Linux, Data management, Agile, market dat...",3998702

In [17]:
a['Salary'].nlargest(3)

Job_Role
Senior Business Analyst/Assistant Manager - Scala/Spark - Big Data    3999284
Data Engineer                                                         3999071
Market Data Operations Engineer                                       3998702
Name: Salary, dtype: int64

**Find the smallest values**

In [18]:
a.nsmallest(3, "Salary")

,Company,Location,Job Experience,Skills/Description,Salary
Job_Role,,,,,
Data Analyst,Glance IT Solution,Bangalore/Bengaluru,1-4,"IT Skills, Python, Tableau, Power BI, Procurem...",400517
Data Integration Specialist,GSK India,Bangalore/Bengaluru,4-7,"Procurement, Computer science, Data management...",400648
Reference Data Analyst,Deutsche Bank,Bangalore/Bengaluru,2-5,"Diversity and Inclusion, Data Analyst",400864

In [19]:
a["Salary"].nsmallest(3)

Job_Role
Data Analyst                   400517
Data Integration Specialist    400648
Reference Data Analyst         400864
Name: Salary, dtype: int64

# Where Method

In [20]:
import pandas as pd

In [21]:
a = pd.read_csv('/kaggle/input/data-science-jobs-in-india/naukri_data_science_jobs_india.csv')
a.head()

,Job_Role,Company,Location,Job Experience,Skills/Description
0,Senior Data Scientist,UPL,"Bangalore/Bengaluru, Mumbai (All Areas)",3-6,"python, MLT, statistical modeling, machine lea..."
1,Senior Data Scientist,Walmart,Bangalore/Bengaluru,5-9,"Data Science, Machine learning, Python, Azure,..."
2,Applied Data Scientist / ML Senior Engineer (P...,SAP India Pvt.Ltd,Bangalore/Bengaluru,5-10,"Python, IT Skills, Testing, Cloud, Product Man..."
3,Data Scientist,UPL,"Bangalore/Bengaluru, Mumbai (All Areas)",1-4,"python, machine learning, Data Science, data a..."
4,Data Scientist,Walmart,Bangalore/Bengaluru,4-8,"IT Skills, Python, Data Science, Machine Learn..."

In [23]:
a["Job_Role"] == "Senior Data Scientist"

0         True
1         True
2        False
3        False
4        False
         ...
11995    False
11996    False
11997    False
11998    False
11999    False
Name: Job_Role, Length: 12000, dtype: bool

In [24]:
mask = a["Job_Role"] == "Senior Data Scientist"

In [25]:
a[mask]

,Job_Role,Company,Location,Job Experience,Skills/Description
0,Senior Data Scientist,UPL,"Bangalore/Bengaluru, Mumbai (All Areas)",3-6,"python, MLT, statistical modeling, machine lea..."
1,Senior Data Scientist,Walmart,Bangalore/Bengaluru,5-9,"Data Science, Machine learning, Python, Azure,..."
13,Senior Data Scientist,Northface Consultancy Services Private Limited,Bangalore/Bengaluru(Whitefield),3-6,"database knowledge, R, Statistical Programming..."
14,Senior Data Scientist,referral,Bangalore/Bengaluru,2-4,"Computer science, Computer vision, Operations ..."
23,Senior Data Scientist,Revnomix Solutions LLP,"Mumbai, Pune, Mumbai (All Areas)",5-8,"python, django, java, MySQL, IT Skills, Data S..."
...,...,...,...,...,...
765,Senior Data Scientist,Idexcel Technologies Private Limited,Bangalore/Bengaluru,4-8,"python, nlp, Artificial Intelligence, computer..."
768,Senior Data Scientist,Pitney Bowes India Pvt Ltd,Noida,6-10,Quest
842,Senior Data Scientist,Nanobi Data And Analytics Pvt Ltd,Bengaluru,2-5,Senior Data Scientist
1073,Senior Data Scientist,Bigshyft Hiring for Zupee,Gurgaon/Gurugram,4-8,"Data Science, Neural Networks, Machine Learnin..."
1320,Senior Data Scientist,Sysvine Technologies,Remote,4-9,"Data Science, Machine Learning, Python, statis..."

**Where method**

In [27]:
mask

0         True
1         True
2        False
3        False
4        False
         ...
11995    False
11996    False
11997    False
11998    False
11999    False
Name: Job_Role, Length: 12000, dtype: bool

In [26]:
a.where(mask)

,Job_Role,Company,Location,Job Experience,Skills/Description
0,Senior Data Scientist,UPL,"Bangalore/Bengaluru, Mumbai (All Areas)",3-6,"python, MLT, statistical modeling, machine lea..."
1,Senior Data Scientist,Walmart,Bangalore/Bengaluru,5-9,"Data Science, Machine learning, Python, Azure,..."
2,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...
11995,NaN,NaN,NaN,NaN,NaN
11996,NaN,NaN,NaN,NaN,NaN
11997,NaN,NaN,NaN,NaN,NaN
11998,NaN,NaN,NaN,NaN,NaN
11999,NaN,NaN,NaN,NaN,NaN

**The values which are False will be replaced with NaN**

In [28]:
import numpy as np

In [30]:
np.random.randint(10,100,(4,4))

array([[79, 46, 48, 76],
       [46, 11, 33, 26],
       [46, 50, 48, 86],
       [87, 18, 38, 33]])

In [31]:
a = pd.DataFrame(np.random.randint(10,100,(4,4)))
a

    0   1   2   3
0  77  53  32  37
1  70  83  80  69
2  36  81  89  63
3  60  65  60  89

In [33]:
a = pd.DataFrame(np.random.randint(10,100,(4,4)),
                index = ["Vijay", "Ankita","Rakshit","Ajay"])
a

          0   1   2   3
Vijay    30  47  23  19
Ankita   37  10  96  15
Rakshit  52  83  95  96
Ajay     32  81  95  51

In [34]:
a = pd.DataFrame(np.random.randint(10,100,(4,4)),
                index = ["Vijay", "Ankita","Rakshit","Ajay"],
                columns = ["Test1","Test2","Test3","Test4"])
a

         Test1  Test2  Test3  Test4
Vijay       24     94     22     97
Ankita      89     14     94     11
Rakshit     11     92     96     71
Ajay        26     55     13     45

In [35]:
a < 80

         Test1  Test2  Test3  Test4
Vijay     True  False   True  False
Ankita   False   True  False   True
Rakshit   True  False  False   True
Ajay      True   True   True   True

In [36]:
a.where(a<80, "A")

        Test1 Test2 Test3 Test4
Vijay      24     A    22     A
Ankita      A    14     A    11
Rakshit    11     A     A    71
Ajay       26    55    13    45

**Using Series**

In [37]:
a

         Test1  Test2  Test3  Test4
Vijay       24     94     22     97
Ankita      89     14     94     11
Rakshit     11     92     96     71
Ajay        26     55     13     45

In [38]:
a["Test1"]

Vijay      24
Ankita     89
Rakshit    11
Ajay       26
Name: Test1, dtype: int64

In [39]:
a["Test1"] < 75

Vijay       True
Ankita     False
Rakshit     True
Ajay        True
Name: Test1, dtype: bool

In [40]:
m = a["Test1"] < 75 
m

Vijay       True
Ankita     False
Rakshit     True
Ajay        True
Name: Test1, dtype: bool

In [41]:
a.where(m, "B")

        Test1 Test2 Test3 Test4
Vijay      24    94    22    97
Ankita      B     B     B     B
Rakshit    11    92    96    71
Ajay       26    55    13    45

**where() method using the function**

In [42]:
a

         Test1  Test2  Test3  Test4
Vijay       24     94     22     97
Ankita      89     14     94     11
Rakshit     11     92     96     71
Ajay        26     55     13     45

In [45]:
c = lambda x : x < 80
c(a)

         Test1  Test2  Test3  Test4
Vijay     True  False   True  False
Ankita   False   True  False   True
Rakshit   True  False  False   True
Ajay      True   True   True   True

In [46]:
a.where(lambda x : x < 80, "A", inplace = True)
a

/tmp/ipykernel_33/1510731797.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'A' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  a.where(lambda x : x < 80, "A", inplace = True)

        Test1 Test2 Test3 Test4
Vijay      24     A    22     A
Ankita      A    14     A    11
Rakshit    11     A     A    71
Ajay       26    55    13    45

**Having a dynamic value for other**

In [47]:
a

        Test1 Test2 Test3 Test4
Vijay      24     A    22     A
Ankita      A    14     A    11
Rakshit    11     A     A    71
Ajay       26    55    13    45

# Query method ()

**Query the columns of a DataFrame with a boolean expression**

In [52]:
import pandas as pd

In [53]:
a = pd.read_csv("/kaggle/input/data-science-jobs-in-india/naukri_data_science_jobs_india.csv")
a.head(5)

,Job_Role,Company,Location,Job Experience,Skills/Description
0,Senior Data Scientist,UPL,"Bangalore/Bengaluru, Mumbai (All Areas)",3-6,"python, MLT, statistical modeling, machine lea..."
1,Senior Data Scientist,Walmart,Bangalore/Bengaluru,5-9,"Data Science, Machine learning, Python, Azure,..."
2,Applied Data Scientist / ML Senior Engineer (P...,SAP India Pvt.Ltd,Bangalore/Bengaluru,5-10,"Python, IT Skills, Testing, Cloud, Product Man..."
3,Data Scientist,UPL,"Bangalore/Bengaluru, Mumbai (All Areas)",1-4,"python, machine learning, Data Science, data a..."
4,Data Scientist,Walmart,Bangalore/Bengaluru,4-8,"IT Skills, Python, Data Science, Machine Learn..."

In [54]:
a.query("Job_Role == 'Data Scientist'")

,Job_Role,Company,Location,Job Experience,Skills/Description
3,Data Scientist,UPL,"Bangalore/Bengaluru, Mumbai (All Areas)",1-4,"python, machine learning, Data Science, data a..."
4,Data Scientist,Walmart,Bangalore/Bengaluru,4-8,"IT Skills, Python, Data Science, Machine Learn..."
6,Data Scientist,Walmart,Bangalore/Bengaluru,4-8,"Computer science, cassandra, Machine learning,..."
8,Data Scientist,Ericsson,Bangalore/Bengaluru,10-20,"Graphics, Bidding, Google Analytics, Data mana..."
30,Data Scientist,MNR Solutions Pvt. Ltd.,"Pune, Bangalore/Bengaluru",5-10,"Computer vision, PDF, data manipulation, Machi..."
...,...,...,...,...,...
1383,Data Scientist,AGILITY HUMAN RESOURCE MANAGEMENT SERVICES PRI...,"Delhi / NCR, Mumbai (All Areas)",4-9,"neural network NLP, learning, Python, machine ..."
1384,Data Scientist,Ideas2IT,Chennai,3-8,"IT Skills, Java, Python, Software Development,..."
1387,Data Scientist,AR Consultant,"Pune, Bangalore/Bengaluru, Mumbai (All Areas)",5-8,"Machine Learning, Natural language processing,..."
1392,Data Scientist,Astha Baid,Hyderabad/Secunderabad,7-11,"NLP, R, Java, Python, scikit, machine learning..."
1393,Data Scientist,Fine Jobs,Gurgaon/Gurugram,6-11,"Computer science, Database Architect, Executiv..."

In [56]:
a.query("'Job Experience' == '0-0'")

KeyError: False

**We can also replace the column names with space with underscore to avoid v**

In [57]:
a.columns

Index(['Job_Role', 'Company', 'Location', 'Job Experience',
       'Skills/Description'],
      dtype='object')

In [65]:
[i.replace(" ", "_") for i in a.columns]

['Job_Role', 'Company', 'Location', 'Job_Experience', 'Skills/Description']

In [71]:
m = a["Job_Role"] == 'Senior Data Scientist' and a["Job Experience"] == '3-5'

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [70]:
(a["Job_Role"] == 'Senior Data Scientist') & (a["Job Experience"] == '3-5')

0        False
1        False
2        False
3        False
4        False
         ...
11995    False
11996    False
11997    False
11998    False
11999    False
Length: 12000, dtype: bool

In [68]:
a

,Job_Role,Company,Location,Job Experience,Skills/Description
0,Senior Data Scientist,UPL,"Bangalore/Bengaluru, Mumbai (All Areas)",3-6,"python, MLT, statistical modeling, machine lea..."
1,Senior Data Scientist,Walmart,Bangalore/Bengaluru,5-9,"Data Science, Machine learning, Python, Azure,..."
2,Applied Data Scientist / ML Senior Engineer (P...,SAP India Pvt.Ltd,Bangalore/Bengaluru,5-10,"Python, IT Skills, Testing, Cloud, Product Man..."
3,Data Scientist,UPL,"Bangalore/Bengaluru, Mumbai (All Areas)",1-4,"python, machine learning, Data Science, data a..."
4,Data Scientist,Walmart,Bangalore/Bengaluru,4-8,"IT Skills, Python, Data Science, Machine Learn..."
...,...,...,...,...,...
11995,Tech Lead/Architect ( Contractual ),Krazy Mantra HR Solutions Pvt. Ltd,"Kolkata, Chennai, Bangalore/Bengaluru",8-13,"Spark, Python, S3, lambda, Athena, AWS, IT Ski..."
11996,Tech Lead / POD Lead,cliqhr.com,"Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru",10-12,"AirFlow, BigQuery, GCS, Kafka, Java, Shell scr..."
11997,Java Full Stack Developer - Hibernate / Spring,Serving Skill,"Hyderabad/Secunderabad, Bangalore/Bengaluru",2-5,"IT Skills, Java, Software Development, Testing..."
11998,Tech Lead - Azure,cliqhr.com,"Kochi/Cochin, Mumbai, Hyderabad/Secunderabad, ...",8-10,"PowerShell, Azure Data Factory, Azure, PaaS, M..."
11999,Full Stack Developer - Machine Learning,Huquo Consulting Pvt. Ltd,Bangalore/Bengaluru,5-10,"Java, JavaScript, Machine Learning, NoSQL, Clo..."

In [73]:
a.query("Job_Role == 'Senior Data Scientist'" and "Job Experience == '3-5'")

SyntaxError: invalid syntax (<unknown>, line 1)

In [74]:
a.query("Job_Role in ['Senior Data Scientist']")

,Job_Role,Company,Location,Job Experience,Skills/Description
0,Senior Data Scientist,UPL,"Bangalore/Bengaluru, Mumbai (All Areas)",3-6,"python, MLT, statistical modeling, machine lea..."
1,Senior Data Scientist,Walmart,Bangalore/Bengaluru,5-9,"Data Science, Machine learning, Python, Azure,..."
13,Senior Data Scientist,Northface Consultancy Services Private Limited,Bangalore/Bengaluru(Whitefield),3-6,"database knowledge, R, Statistical Programming..."
14,Senior Data Scientist,referral,Bangalore/Bengaluru,2-4,"Computer science, Computer vision, Operations ..."
23,Senior Data Scientist,Revnomix Solutions LLP,"Mumbai, Pune, Mumbai (All Areas)",5-8,"python, django, java, MySQL, IT Skills, Data S..."
...,...,...,...,...,...
765,Senior Data Scientist,Idexcel Technologies Private Limited,Bangalore/Bengaluru,4-8,"python, nlp, Artificial Intelligence, computer..."
768,Senior Data Scientist,Pitney Bowes India Pvt Ltd,Noida,6-10,Quest
842,Senior Data Scientist,Nanobi Data And Analytics Pvt Ltd,Bengaluru,2-5,Senior Data Scientist
1073,Senior Data Scientist,Bigshyft Hiring for Zupee,Gurgaon/Gurugram,4-8,"Data Science, Neural Networks, Machine Learnin..."
1320,Senior Data Scientist,Sysvine Technologies,Remote,4-9,"Data Science, Machine Learning, Python, statis..."

# apply() method

In [76]:
import pandas as pd

In [78]:
s1 = pd.Series(["Rakshit Vig", "Arun Kumar", "Shivani Sehgal","Venugopal Iyer"])
s1

0       Rakshit Vig
1        Arun Kumar
2    Shivani Sehgal
3    Venugopal Iyer
dtype: object

**Using apply() function over a series**

In [79]:
s1.apply(lambda x : x.replace(" ","_"))

0       Rakshit_Vig
1        Arun_Kumar
2    Shivani_Sehgal
3    Venugopal_Iyer
dtype: object

In [80]:
#Replacing underscore with the spaces 

s1.apply(lambda x : x.replace("_"," "))

0       Rakshit Vig
1        Arun Kumar
2    Shivani Sehgal
3    Venugopal Iyer
dtype: object

**Applying transformation across all the values of certain columns**

In [81]:
import pandas as pd 
import numpy as np

In [82]:
a = pd.read_csv("/kaggle/input/data-science-jobs-in-india/naukri_data_science_jobs_india.csv")
a

,Job_Role,Company,Location,Job Experience,Skills/Description
0,Senior Data Scientist,UPL,"Bangalore/Bengaluru, Mumbai (All Areas)",3-6,"python, MLT, statistical modeling, machine lea..."
1,Senior Data Scientist,Walmart,Bangalore/Bengaluru,5-9,"Data Science, Machine learning, Python, Azure,..."
2,Applied Data Scientist / ML Senior Engineer (P...,SAP India Pvt.Ltd,Bangalore/Bengaluru,5-10,"Python, IT Skills, Testing, Cloud, Product Man..."
3,Data Scientist,UPL,"Bangalore/Bengaluru, Mumbai (All Areas)",1-4,"python, machine learning, Data Science, data a..."
4,Data Scientist,Walmart,Bangalore/Bengaluru,4-8,"IT Skills, Python, Data Science, Machine Learn..."
...,...,...,...,...,...
11995,Tech Lead/Architect ( Contractual ),Krazy Mantra HR Solutions Pvt. Ltd,"Kolkata, Chennai, Bangalore/Bengaluru",8-13,"Spark, Python, S3, lambda, Athena, AWS, IT Ski..."
11996,Tech Lead / POD Lead,cliqhr.com,"Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru",10-12,"AirFlow, BigQuery, GCS, Kafka, Java, Shell scr..."
11997,Java Full Stack Developer - Hibernate / Spring,Serving Skill,"Hyderabad/Secunderabad, Bangalore/Bengaluru",2-5,"IT Skills, Java, Software Development, Testing..."
11998,Tech Lead - Azure,cliqhr.com,"Kochi/Cochin, Mumbai, Hyderabad/Secunderabad, ...",8-10,"PowerShell, Azure Data Factory, Azure, PaaS, M..."
11999,Full Stack Developer - Machine Learning,Huquo Consulting Pvt. Ltd,Bangalore/Bengaluru,5-10,"Java, JavaScript, Machine Learning, NoSQL, Clo..."

In [83]:
a.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12000 entries, 0 to 11999
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Job_Role            12000 non-null  object
 1   Company             12000 non-null  object
 2   Location            12000 non-null  object
 3   Job Experience      12000 non-null  object
 4   Skills/Description  12000 non-null  object
dtypes: object(5)
memory usage: 468.9+ KB

In [84]:
a['Salary'] = np.random.randint(400000,4000000, size = 12000)
a

,Job_Role,Company,Location,Job Experience,Skills/Description,Salary
0,Senior Data Scientist,UPL,"Bangalore/Bengaluru, Mumbai (All Areas)",3-6,"python, MLT, statistical modeling, machine lea...",558844
1,Senior Data Scientist,Walmart,Bangalore/Bengaluru,5-9,"Data Science, Machine learning, Python, Azure,...",995011
2,Applied Data Scientist / ML Senior Engineer (P...,SAP India Pvt.Ltd,Bangalore/Bengaluru,5-10,"Python, IT Skills, Testing, Cloud, Product Man...",2149374
3,Data Scientist,UPL,"Bangalore/Bengaluru, Mumbai (All Areas)",1-4,"python, machine learning, Data Science, data a...",2371813
4,Data Scientist,Walmart,Bangalore/Bengaluru,4-8,"IT Skills, Python, Data Science, Machine Learn...",3887105
...,...,...,...,...,...,...
11995,Tech Lead/Architect ( Contractual ),Krazy Mantra HR Solutions Pvt. Ltd,"Kolkata, Chennai, Bangalore/Bengaluru",8-13,"Spark, Python, S3, lambda, Athena, AWS, IT Ski...",2347932
11996,Tech Lead / POD Lead,cliqhr.com,"Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru",10-12,"AirFlow, BigQuery, GCS, Kafka, Java, Shell scr...",3861224
11997,Java Full Stack Developer - Hibernate / Spring,Serving Skill,"Hyderabad/Secunderabad, Bangalore/Bengaluru",2-5,"IT Skills, Java, Software Development, Testing...",2063420
11998,Tech Lead - Azure,cliqhr.com,"Kochi/Cochin, Mumbai, Hyderabad/Secunderabad, ...",8-10,"PowerShell, Azure Data Factory, Azure, PaaS, M...",3155133
11999,Full Stack Developer - Machine Learning,Huquo Consulting Pvt. Ltd,Bangalore/Bengaluru,5-10,"Java, JavaScript, Machine Learning, NoSQL, Clo...",1128497

In [86]:
a["Salary"] = a["Salary"].apply

In [87]:
a["Salary"]

0        <bound method Series.apply of 0        <bound ...
1        <bound method Series.apply of 0        <bound ...
2        <bound method Series.apply of 0        <bound ...
3        <bound method Series.apply of 0        <bound ...
4        <bound method Series.apply of 0        <bound ...
                               ...
11995    <bound method Series.apply of 0        <bound ...
11996    <bound method Series.apply of 0        <bound ...
11997    <bound method Series.apply of 0        <bound ...
11998    <bound method Series.apply of 0        <bound ...
11999    <bound method Series.apply of 0        <bound ...
Name: Salary, Length: 12000, dtype: object

In [ ]:
a["Salary"] = a["Salary"].apply(lambda x: )